openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities NoteFields API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: NoteFields
  description: 'Note fields represent different fields that a note has.

    '
paths:
  /noteFields:
    get:
      summary: Get all note fields
      description: Returns data about all note fields.
      x-token-cost: 20
      operationId: getNoteFields
      tags:
      - NoteFields
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
        - contacts:read
        - contacts:full
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: GetNoteFieldsResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        allOf:
                        - type: object
                          properties:
                            id:
                              type: integer
                              description: The ID of the field
                            key:
                              type: string
                              description: The key of the field
                            name:
                              type: string
                              description: The name of the field
                            field_type:
                              type: string
                              enum:
                              - address
                              - date
                              - daterange
                              - double
                              - enum
                              - monetary
                              - org
                              - people
                              - phone
                              - set
                              - text
                              - time
                              - timerange
                              - user
                              - varchar
                              - varchar_auto
                              - visible_to
                              description: The type of the field<table><tr><th>Value</th><th>Description</th></tr><tr><td>`address`</td><td>Address field</td></tr><tr><td>`date`</td><td>Date (format YYYY-MM-DD)</td></tr><tr><td>`daterange`</td><td>Date-range field (has a start date and end date value, both YYYY-MM-DD)</td></tr><tr><td>`double`</td><td>Numeric value</td></tr><tr><td>`enum`</td><td>Options field with a single possible chosen option</td></tr><tr></tr><tr><td>`monetary`</td><td>Monetary field (has a numeric value and a currency value)</td></tr><tr><td>`org`</td><td>Organization field (contains an organization ID which is stored on the same account)</td></tr><tr><td>`people`</td><td>Person field (contains a person ID which is stored on the same account)</td></tr><tr><td>`phone`</td><td>Phone field (up to 255 numbers and/or characters)</td></tr><tr><td>`set`</td><td>Options field with a possibility of having multiple chosen options</td></tr><tr><td>`text`</td><td>Long text (up to 65k characters)</td></tr><tr><td>`time`</td><td>Time field (format HH:MM:SS)</td></tr><tr><td>`timerange`</td><td>Time-range field (has a start time and end time value, both HH:MM:SS)</td></tr><tr><td>`user`</td><td>User field (contains a user ID of another Pipedrive user)</td></tr><tr><td>`varchar`</td><td>Text (up to 255 characters)</td></tr><tr><td>`varchar_auto`</td><td>Autocomplete text (up to 255 characters)</td></tr><tr><td>`visible_to`</td><td>System field that keeps item's visibility setting</td></tr></table>
                            active_flag:
                              type: boolean
                              description: The active flag of the field
                            edit_flag:
                              type: boolean
                              description: The edit flag of the field
                            bulk_edit_allowed:
                              type: boolean
                              description: Not used
                            mandatory_flag:
                              type: boolean
                              description: Whether or not the field is mandatory
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  label:
                                    type: string
                              description: The options of the field. When there are no options, `null` is returned.
                        - type: object
                          properties:
                            field_type:
                              type: string
                              enum:
                              - boolean
                              - double
                              - int
                              - json
                              - date
                              - daterange
                              - time
                              - timerange
                              - text
                              - varchar
                              - varchar_auto
                              - varchar_options
                              - address
                              - enum
                              - monetary
                              - phone
                              - set
                              - activity
                              - deal
                              - lead
                              - org
                              - people
                              - pipeline
                              - product
                              - project
                              - stage
                              - user
                              - billing_frequency
                              - picture
                              - price_list
                              - projects_board
                              - projects_phase
                              - status
                              - visible_to
                              description: List of all possible field types
                    additional_data:
                      description: The additional data of the list
                      type: object
                      properties:
                        start:
                          type: integer
                          description: Pagination start
                        limit:
                          type: integer
                          description: Items shown per page
                        more_items_in_collection:
                          type: boolean
                          description: If there are more list items in the collection than displayed or not
              example:
                success: true
                data:
                - id: 1
                  key: content
                  name: Content
                  field_type: text
                  active_flag: true
                  edit_flag: false
                  bulk_edit_allowed: true
                  mandatory_flag: true
                - id: 2
                  key: pinned_to_deal_flag
                  name: Note is pinned to deal
                  field_type: enum
                  active_flag: true
                  edit_flag: true
                  bulk_edit_allowed: true
                  options:
                  - id: 1
                    label: 'Yes'
                  - id: 0
                    label: 'No'
                  mandatory_flag: true
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
components:
  securitySchemes:
    basic_authentication:
      type: http
      scheme: basic
      description: Base 64 encoded string containing the `client_id` and `client_secret` values. The header value should be `Basic <base64(client_id:client_secret)>`.
    api_key:
      type: apiKey
      name: x-api-token
      in: header
    oauth2:
      type: oauth2
      description: For more information, see https://pipedrive.readme.io/docs/marketplace-oauth-authorization
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.pipedrive.com/oauth/authorize
          tokenUrl: https://oauth.pipedrive.com/oauth/token
          refreshUrl: https://oauth.pipedrive.com/oauth/token
          scopes:
            base: Read settings of the authorized user and currencies in an account
            deals:read: Read most of the data about deals and related entities - deal fields, products, followers, participants; all notes, files, filters, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            deals:full: Create, read, update and delete deals, its participants and followers; all files, notes, and filters. It also includes read access to deal fields, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            mail:read: Read mail threads and messages
            mail:full: Read, update and delete mail threads. Also grants read access to mail messages
            activities:read: Read activities, its fields and types; all files and filters
            activities:full: Create, read, update and delete activities and all files and filters. Also includes read access to activity fields and types
            contacts:read: Read the data about persons and organizations, their related fields and followers; also all notes, files, filters
            contacts:full: Create, read, update and delete persons and organizations and their followers; all notes, files, filters. Also grants read access to contacts-related fields
            products:read: Read products, its fields, files, followers and products connected to a deal
            products:full: Create, read, update and delete products and its fields; add products to deals
            deal-fields:full: Create, read, update and delete deal fields
            product-fields:full: Create, read, update and delete product fields
            contact-fields:full: Create, read, update and delete person and organization fields
            projects:read: Read projects and its fields, tasks and project templates
            projects:full: Create, read, update and delete projects and its fields; add projects templates and project related tasks
            users:read: Read data about users (people with access to a Pipedrive account), their permissions, roles and followers
            recents:read: Read all recent changes occurred in an account. Includes data about activities, activity types, deals, files, filters, notes, persons, organizations, pipelines, stages, products and users
            search:read: Search across the account for deals, persons, organizations, files and products, and see details about the returned results
            admin: Allows to do many things that an administrator can do in a Pipedrive company account - create, read, update and delete pipelines and its stages; deal, person and organization fields; activity types; users and permissions, etc. It also allows the app to create webhooks and fetch and delete webhooks that are created by the app
            leads:read: Read data about leads and lead labels
            leads:full: Create, read, update and delete leads and lead labels
            phone-integration: Enables advanced call integration features like logging call duration and other metadata, and play call recordings inside Pipedrive
            goals:read: Read data on all goals
            goals:full: Create, read, update and delete goals
            video-calls: Allows application to register as a video call integration provider and create conference links
            messengers-integration: Allows application to register as a messengers integration provider and allows them to deliver incoming messages and their statuses
