openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities LeadLabels API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: LeadLabels
  description: 'Lead labels allow you to visually categorize your leads. There are three default lead labels: hot, cold, and warm, but you can add as many new custom labels as you want.

    '
paths:
  /leadLabels:
    get:
      security:
      - api_key: []
      - oauth2:
        - leads:read
        - leads:full
      tags:
      - LeadLabels
      summary: Get all lead labels
      description: Returns details of all lead labels. This endpoint does not support pagination and all labels are always returned.
      x-token-cost: 10
      operationId: getLeadLabels
      responses:
        '200':
          description: Successful response containing payload in the `data` field
          content:
            application/json:
              schema:
                title: GetLeadLabelsResponse
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      title: LeadLabel
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The unique ID of the lead label
                        name:
                          type: string
                          description: The name of the lead label
                        color:
                          type: string
                          enum:
                          - blue
                          - brown
                          - dark-gray
                          - gray
                          - green
                          - orange
                          - pink
                          - purple
                          - red
                          - yellow
                          description: The color of the label. Only a subset of colors can be used.
                        add_time:
                          type: string
                          description: 'The date and time of when the lead label was created. In ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.'
                          format: date-time
                        update_time:
                          type: string
                          description: 'The date and time of when the lead label was last updated. In ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.'
                          format: date-time
              example:
                success: true
                data:
                - id: f08b42a0-4e75-11ea-9643-03698ef1cfd6
                  name: Hot
                  color: red
                  add_time: '2020-02-13T15:31:44.000Z'
                  update_time: '2020-02-13T15:31:44.000Z'
                - id: f08b42a1-4e75-11ea-9643-03698ef1cfd6
                  name: Cold
                  color: blue
                  add_time: '2020-02-13T15:31:44.000Z'
                  update_time: '2020-02-13T15:31:44.000Z'
                - id: f08b69b0-4e75-11ea-9643-03698ef1cfd6
                  name: Warm
                  color: yellow
                  add_time: '2020-02-13T15:31:44.000Z'
                  update_time: '2020-02-13T15:31:44.000Z'
    post:
      security:
      - api_key: []
      - oauth2:
        - leads:full
      tags:
      - LeadLabels
      summary: Add a lead label
      description: Creates a lead label.
      x-token-cost: 10
      operationId: addLeadLabel
      requestBody:
        content:
          application/json:
            schema:
              title: addLeadLabelRequest
              type: object
              required:
              - name
              - color
              properties:
                name:
                  type: string
                  description: The name of the lead label
                color:
                  type: string
                  enum:
                  - blue
                  - brown
                  - dark-gray
                  - gray
                  - green
                  - orange
                  - pink
                  - purple
                  - red
                  - yellow
                  description: The color of the label. Only a subset of colors can be used.
      responses:
        '200':
          description: Successful response containing payload in the `data` field
          content:
            application/json:
              schema:
                title: UpsertLeadLabelResponse
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    title: LeadLabel
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique ID of the lead label
                      name:
                        type: string
                        description: The name of the lead label
                      color:
                        type: string
                        enum:
                        - blue
                        - brown
                        - dark-gray
                        - gray
                        - green
                        - orange
                        - pink
                        - purple
                        - red
                        - yellow
                        description: The color of the label. Only a subset of colors can be used.
                      add_time:
                        type: string
                        description: 'The date and time of when the lead label was created. In ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.'
                        format: date-time
                      update_time:
                        type: string
                        description: 'The date and time of when the lead label was last updated. In ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.'
                        format: date-time
              example:
                success: true
                data:
                  id: f08b42a0-4e75-11ea-9643-03698ef1cfd6
                  name: Hot
                  color: red
                  add_time: '2020-02-13T15:31:44.000Z'
                  update_time: '2020-10-14T13:11:36.000Z'
  /leadLabels/{id}:
    patch:
      security:
      - api_key: []
      - oauth2:
        - leads:full
      tags:
      - LeadLabels
      summary: Update a lead label
      description: 'Updates one or more properties of a lead label. Only properties included in the request will be updated.

        '
      x-token-cost: 10
      operationId: updateLeadLabel
      parameters:
      - in: path
        name: id
        description: The ID of the lead label
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              title: updateLeadLabelRequest
              type: object
              properties:
                name:
                  type: string
                  description: The name of the lead label
                color:
                  type: string
                  enum:
                  - blue
                  - brown
                  - dark-gray
                  - gray
                  - green
                  - orange
                  - pink
                  - purple
                  - red
                  - yellow
                  description: The color of the label. Only a subset of colors can be used.
      responses:
        '200':
          description: Successful response containing payload in the `data` field
          content:
            application/json:
              schema:
                title: UpsertLeadLabelResponse
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    title: LeadLabel
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique ID of the lead label
                      name:
                        type: string
                        description: The name of the lead label
                      color:
                        type: string
                        enum:
                        - blue
                        - brown
                        - dark-gray
                        - gray
                        - green
                        - orange
                        - pink
                        - purple
                        - red
                        - yellow
                        description: The color of the label. Only a subset of colors can be used.
                      add_time:
                        type: string
                        description: 'The date and time of when the lead label was created. In ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.'
                        format: date-time
                      update_time:
                        type: string
                        description: 'The date and time of when the lead label was last updated. In ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.'
                        format: date-time
              example:
                success: true
                data:
                  id: f08b42a0-4e75-11ea-9643-03698ef1cfd6
                  name: Hot
                  color: red
                  add_time: '2020-02-13T15:31:44.000Z'
                  update_time: '2020-10-14T13:11:36.000Z'
        '404':
          description: A resource describing an error
          content:
            application/json:
              schema:
                title: LeadNotFoundResponse
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    description: The description of the error
                  error_info:
                    type: string
                    description: A message describing how to solve the problem
                  data:
                    type: object
                    nullable: true
                    example: null
                  additional_data:
                    type: object
                    nullable: true
                    example: null
    delete:
      security:
      - api_key: []
      - oauth2:
        - leads:full
      tags:
      - LeadLabels
      summary: Delete a lead label
      description: Deletes a specific lead label.
      x-token-cost: 6
      operationId: deleteLeadLabel
      parameters:
      - in: path
        name: id
        description: The ID of the lead label
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response with id value only. Used in DELETE calls.
          content:
            application/json:
              schema:
                title: DeleteLeadIdResponse
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
              example:
                success: true
                data:
                  id: adf21080-0e10-11eb-879b-05d71fb426ec
        '404':
          description: A resource describing an error
          content:
            application/json:
              schema:
                title: LeadNotFoundResponse
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    description: The description of the error
                  error_info:
                    type: string
                    description: A message describing how to solve the problem
                  data:
                    type: object
                    nullable: true
                    example: null
                  additional_data:
                    type: object
                    nullable: true
                    example: null
components:
  securitySchemes:
    basic_authentication:
      type: http
      scheme: basic
      description: Base 64 encoded string containing the `client_id` and `client_secret` values. The header value should be `Basic <base64(client_id:client_secret)>`.
    api_key:
      type: apiKey
      name: x-api-token
      in: header
    oauth2:
      type: oauth2
      description: For more information, see https://pipedrive.readme.io/docs/marketplace-oauth-authorization
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.pipedrive.com/oauth/authorize
          tokenUrl: https://oauth.pipedrive.com/oauth/token
          refreshUrl: https://oauth.pipedrive.com/oauth/token
          scopes:
            base: Read settings of the authorized user and currencies in an account
            deals:read: Read most of the data about deals and related entities - deal fields, products, followers, participants; all notes, files, filters, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            deals:full: Create, read, update and delete deals, its participants and followers; all files, notes, and filters. It also includes read access to deal fields, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            mail:read: Read mail threads and messages
            mail:full: Read, update and delete mail threads. Also grants read access to mail messages
            activities:read: Read activities, its fields and types; all files and filters
            activities:full: Create, read, update and delete activities and all files and filters. Also includes read access to activity fields and types
            contacts:read: Read the data about persons and organizations, their related fields and followers; also all notes, files, filters
            contacts:full: Create, read, update and delete persons and organizations and their followers; all notes, files, filters. Also grants read access to contacts-related fields
            products:read: Read products, its fields, files, followers and products connected to a deal
            products:full: Create, read, update and delete products and its fields; add products to deals
            deal-fields:full: Create, read, update and delete deal fields
            product-fields:full: Create, read, update and delete product fields
            contact-fields:full: Create, read, update and delete person and organization fields
            projects:read: Read projects and its fields, tasks and project templates
            projects:full: Create, read, update and delete projects and its fields; add projects templates and project related tasks
            users:read: Read data about users (people with access to a Pipedrive account), their permissions, roles and followers
            recents:read: Read all recent changes occurred in an account. Includes data about activities, activity types, deals, files, filters, notes, persons, organizations, pipelines, stages, products and users
            search:read: Search across the account for deals, persons, organizations, files and products, and see details about the returned results
            admin: Allows to do many things that an administrator can do in a Pipedrive company account - create, read, update and delete pipelines and its stages; deal, person and organization fields; activity types; users and permissions, etc. It also allows the app to create webhooks and fetch and delete webhooks that are created by the app
            leads:read: Read data about leads and lead labels
            leads:full: Create, read, update and delete leads and lead labels
            phone-integration: Enables advanced call integration features like logging call duration and other metadata, and play call recordings inside Pipedrive
            goals:read: Read data on all goals
            goals:full: Create, read, update and delete goals
            video-calls: Allows application to register as a video call integration provider and create conference links
            messengers-integration: Allows application to register as a messengers integration provider and allows them to deliver incoming messages and their statuses
