openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities ProjectTemplates API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: ProjectTemplates
  description: 'Project templates allow you to have reusable and dynamic structure to simplify creation of a project. Project template can contain information about activities, tasks and groups that will be used when creating a project.

    '
paths:
  /projectTemplates:
    get:
      summary: Get all project templates
      description: Returns all not deleted project templates. This is a cursor-paginated endpoint. For more information, please refer to our documentation on <a href="https://pipedrive.readme.io/docs/core-api-concepts-pagination" target="_blank" rel="noopener noreferrer">pagination</a>.
      x-token-cost: 20
      operationId: getProjectTemplates
      tags:
      - ProjectTemplates
      security:
      - api_key: []
      - oauth2:
        - projects:read
        - projects:full
      parameters:
      - in: query
        name: cursor
        required: false
        description: For pagination, the marker (an opaque string value) representing the first item on the next page
        schema:
          type: string
      - in: query
        name: limit
        required: false
        description: For pagination, the limit of entries to be returned. If not provided, up to 500 items will be returned.
        schema:
          type: integer
          example: 500
      responses:
        '200':
          description: A list of project template.
          content:
            application/json:
              schema:
                title: GetProjectTemplatesResponse
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      title: TemplateResponseObject
                      allOf:
                      - title: ProjectTemplate
                        type: object
                        properties:
                          id:
                            description: The ID of a template
                            type: number
                          title:
                            description: The title of a template
                            type: string
                          description:
                            description: The description of a template
                            type: string
                          projects_board_id:
                            description: The ID of the project board this template is associated with
                            type: number
                          owner_id:
                            description: The ID of a template owner
                            type: number
                          add_time:
                            type: string
                            description: 'The creation date and time of the template in UTC. Format: YYYY-MM-DD HH:MM:SS.'
                          update_time:
                            type: string
                            description: 'The update date and time of the template in UTC. Format: YYYY-MM-DD HH:MM:SS.'
                  additional_data:
                    description: The additional data of the list
                    type: object
                    properties:
                      next_cursor:
                        type: string
                        description: The first item on the next page. The value of the `next_cursor` field will be `null` if you have reached the end of the dataset and there’s no more pages to be returned.
              example:
                success: true
                data:
                - id: 1
                  title: Template Title
                  description: Template Description
                  projects_board_id: 2
                  owner_id: 3
                  add_time: '2023-09-14 08:14:40.288'
                  update_time: '2023-09-14 08:14:40.288'
                additional_data:
                  next_cursor: eyJhY3Rpdml0aWVzIjoyN30
  /projectTemplates/{id}:
    get:
      summary: Get details of a template
      description: Returns the details of a specific project template.
      x-token-cost: 2
      operationId: getProjectTemplate
      tags:
      - ProjectTemplates
      security:
      - api_key: []
      - oauth2:
        - projects:read
        - projects:full
      parameters:
      - in: path
        name: id
        description: The ID of the project template
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Get a project template.
          content:
            application/json:
              schema:
                title: GetProjectTemplateResponse
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    title: TemplateResponseObject
                    allOf:
                    - title: ProjectTemplate
                      type: object
                      properties:
                        id:
                          description: The ID of a template
                          type: number
                        title:
                          description: The title of a template
                          type: string
                        description:
                          description: The description of a template
                          type: string
                        projects_board_id:
                          description: The ID of the project board this template is associated with
                          type: number
                        owner_id:
                          description: The ID of a template owner
                          type: number
                        add_time:
                          type: string
                          description: 'The creation date and time of the template in UTC. Format: YYYY-MM-DD HH:MM:SS.'
                        update_time:
                          type: string
                          description: 'The update date and time of the template in UTC. Format: YYYY-MM-DD HH:MM:SS.'
                  additional_data:
                    type: object
                    nullable: true
                    example: null
              example:
                success: true
                data:
                  id: 1
                  title: Template Title
                  description: Template Description
                  projects_board_id: 2
                  owner_id: 3
                  add_time: '2023-09-14 08:14:40.288'
                  update_time: '2023-09-14 08:14:40.288'
                additional_data: null
components:
  securitySchemes:
    basic_authentication:
      type: http
      scheme: basic
      description: Base 64 encoded string containing the `client_id` and `client_secret` values. The header value should be `Basic <base64(client_id:client_secret)>`.
    api_key:
      type: apiKey
      name: x-api-token
      in: header
    oauth2:
      type: oauth2
      description: For more information, see https://pipedrive.readme.io/docs/marketplace-oauth-authorization
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.pipedrive.com/oauth/authorize
          tokenUrl: https://oauth.pipedrive.com/oauth/token
          refreshUrl: https://oauth.pipedrive.com/oauth/token
          scopes:
            base: Read settings of the authorized user and currencies in an account
            deals:read: Read most of the data about deals and related entities - deal fields, products, followers, participants; all notes, files, filters, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            deals:full: Create, read, update and delete deals, its participants and followers; all files, notes, and filters. It also includes read access to deal fields, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            mail:read: Read mail threads and messages
            mail:full: Read, update and delete mail threads. Also grants read access to mail messages
            activities:read: Read activities, its fields and types; all files and filters
            activities:full: Create, read, update and delete activities and all files and filters. Also includes read access to activity fields and types
            contacts:read: Read the data about persons and organizations, their related fields and followers; also all notes, files, filters
            contacts:full: Create, read, update and delete persons and organizations and their followers; all notes, files, filters. Also grants read access to contacts-related fields
            products:read: Read products, its fields, files, followers and products connected to a deal
            products:full: Create, read, update and delete products and its fields; add products to deals
            deal-fields:full: Create, read, update and delete deal fields
            product-fields:full: Create, read, update and delete product fields
            contact-fields:full: Create, read, update and delete person and organization fields
            projects:read: Read projects and its fields, tasks and project templates
            projects:full: Create, read, update and delete projects and its fields; add projects templates and project related tasks
            users:read: Read data about users (people with access to a Pipedrive account), their permissions, roles and followers
            recents:read: Read all recent changes occurred in an account. Includes data about activities, activity types, deals, files, filters, notes, persons, organizations, pipelines, stages, products and users
            search:read: Search across the account for deals, persons, organizations, files and products, and see details about the returned results
            admin: Allows to do many things that an administrator can do in a Pipedrive company account - create, read, update and delete pipelines and its stages; deal, person and organization fields; activity types; users and permissions, etc. It also allows the app to create webhooks and fetch and delete webhooks that are created by the app
            leads:read: Read data about leads and lead labels
            leads:full: Create, read, update and delete leads and lead labels
            phone-integration: Enables advanced call integration features like logging call duration and other metadata, and play call recordings inside Pipedrive
            goals:read: Read data on all goals
            goals:full: Create, read, update and delete goals
            video-calls: Allows application to register as a video call integration provider and create conference links
            messengers-integration: Allows application to register as a messengers integration provider and allows them to deliver incoming messages and their statuses
