openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities Recents API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: Recents
  description: 'Recent changes across all item types in Pipedrive (deals, persons, etc).

    '
paths:
  /recents:
    get:
      summary: Get recents
      description: Returns data about all recent changes occurred after the given timestamp.
      x-token-cost: 20
      operationId: getRecents
      tags:
      - Recents
      security:
      - api_key: []
      - oauth2:
        - recents:read
        - search:read
      parameters:
      - in: query
        name: since_timestamp
        required: true
        schema:
          type: string
        description: 'The timestamp in UTC. Format: YYYY-MM-DD HH:MM:SS.'
      - in: query
        name: items
        schema:
          type: string
          enum:
          - activity
          - activityType
          - deal
          - file
          - filter
          - note
          - person
          - organization
          - pipeline
          - product
          - stage
          - user
        description: Multiple selection of item types to include in the query (optional)
      - in: query
        name: start
        description: Pagination start
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        description: Items shown per page
        schema:
          type: integer
      responses:
        '200':
          description: List of items changed since "since_timestamp"
          content:
            application/json:
              schema:
                title: GetRecentsResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: array
                    title: RecentsData
                    items:
                      anyOf:
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - activity
                          id:
                            type: integer
                          data:
                            title: Activity
                            allOf:
                            - type: object
                              properties:
                                due_date:
                                  description: 'The due date of the activity. Format: YYYY-MM-DD'
                                  type: string
                                  format: date
                                due_time:
                                  description: 'The due time of the activity in UTC. Format: HH:MM'
                                  type: string
                                duration:
                                  description: 'The duration of the activity. Format: HH:MM'
                                  type: string
                                deal_id:
                                  description: The ID of the deal this activity is associated with
                                  type: integer
                                lead_id:
                                  description: The ID of the lead in the UUID format this activity is associated with
                                  type: string
                                  format: uuid
                                  nullable: true
                                person_id:
                                  description: The ID of the person this activity is associated with
                                  type: integer
                                project_id:
                                  description: The ID of the project this activity is associated with
                                  type: integer
                                  nullable: true
                                org_id:
                                  description: The ID of the organization this activity is associated with
                                  type: integer
                                location:
                                  description: The address of the activity.
                                  type: string
                                public_description:
                                  description: Additional details about the activity that is synced to your external calendar. Unlike the note added to the activity, the description is publicly visible to any guests added to the activity.
                                  type: string
                            - type: object
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the activity, generated when the activity was created
                                note:
                                  type: string
                                  description: The note of the activity (HTML format)
                                done:
                                  type: boolean
                                  description: Whether the activity is done or not
                                subject:
                                  description: The subject of the activity
                                  type: string
                                type:
                                  description: The type of the activity. This is in correlation with the `key_string` parameter of ActivityTypes.
                                  type: string
                                user_id:
                                  description: The ID of the user whom the activity is assigned to
                                  type: integer
                                participants:
                                  description: List of multiple persons (participants) this activity is associated with
                                  type: array
                                  nullable: true
                                  items:
                                    type: object
                                busy_flag:
                                  description: Marks if the activity is set as 'Busy' or 'Free'. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset. When the value of the flag is unset (`null`), the flag defaults to 'Busy' if it has a time set, and 'Free' if it is an all-day event without specified time.
                                  type: boolean
                                attendees:
                                  description: The attendees of the activity. This can be either your existing Pipedrive contacts or an external email address.
                                  type: array
                                  nullable: true
                                  items:
                                    type: object
                                company_id:
                                  type: integer
                                  description: The user's company ID
                                reference_type:
                                  type: string
                                  description: If the activity references some other object, it is indicated here. For example, value `Salesphone` refers to activities created with Caller.
                                reference_id:
                                  type: integer
                                  description: Together with the `reference_type`, gives the ID of the other object
                                conference_meeting_client:
                                  type: string
                                  description: The ID of the Marketplace app, which is connected to this activity
                                conference_meeting_url:
                                  type: string
                                  description: The link to join the meeting which is associated with this activity
                                conference_meeting_id:
                                  type: string
                                  description: The meeting ID of the meeting provider (Zoom, MS Teams etc.) that is associated with this activity
                                add_time:
                                  type: string
                                  description: 'The creation date and time of the activity in UTC. Format: YYYY-MM-DD HH:MM:SS.'
                                marked_as_done_time:
                                  type: string
                                  description: 'The date and time this activity was marked as done. Format: YYYY-MM-DD HH:MM:SS.'
                                last_notification_time:
                                  type: string
                                  description: The date and time of latest notifications sent about this activity to the participants or the attendees of this activity
                                last_notification_user_id:
                                  type: integer
                                  description: The ID of the user who triggered the sending of the latest notifications about this activity to the participants or the attendees of this activity
                                notification_language_id:
                                  type: integer
                                  description: The ID of the language the notifications are sent in
                                active_flag:
                                  type: boolean
                                  description: Whether the activity is active or not
                                update_time:
                                  type: string
                                  description: 'The last update date and time of the activity. Format: YYYY-MM-DD HH:MM:SS.'
                                update_user_id:
                                  description: The ID of the user who was the last to update this activity
                                  type: integer
                                gcal_event_id:
                                  type: string
                                  description: For the activity which syncs to Google calendar, this is the Google event ID. NB! This field is related to old Google calendar sync and will be deprecated soon.
                                google_calendar_id:
                                  type: string
                                  description: The Google calendar ID that this activity syncs to. NB! This field is related to old Google calendar sync and will be deprecated soon.
                                google_calendar_etag:
                                  type: string
                                  description: The Google calendar API etag (version) that is used for syncing this activity. NB! This field is related to old Google calendar sync and will be deprecated soon.
                                calendar_sync_include_context:
                                  type: string
                                  description: For activities that sync to an external calendar, this setting indicates if the activity syncs with context (what are the deals, persons, organizations this activity is related to)
                                source_timezone:
                                  type: string
                                  description: The timezone the activity was created in an external calendar
                                rec_rule:
                                  type: string
                                  description: 'The rule for the recurrence of the activity. Is important for activities synced into Pipedrive from an external calendar. Example: "RRULE:FREQ=WEEKLY;BYDAY=WE"'
                                rec_rule_extension:
                                  type: string
                                  description: Additional rules for the recurrence of the activity, extend the `rec_rule`. Is important for activities synced into Pipedrive from an external calendar.
                                rec_master_activity_id:
                                  type: integer
                                  description: The ID of parent activity for a recurrent activity if the current activity is an exception to recurrence rules
                                series:
                                  description: 'The list of recurring activity instances. It is in a structure as follows: `[{due_date: "2020-06-24", due_time: "10:00:00"}]`'
                                  type: array
                                  items:
                                    type: object
                                created_by_user_id:
                                  description: The ID of the user who created the activity
                                  type: integer
                                location_subpremise:
                                  type: string
                                  description: A subfield of the location field. Indicates apartment/suite number.
                                location_street_number:
                                  type: string
                                  description: A subfield of the location field. Indicates house number.
                                location_route:
                                  type: string
                                  description: A subfield of the location field. Indicates street name.
                                location_sublocality:
                                  type: string
                                  description: A subfield of the location field. Indicates district/sublocality.
                                location_locality:
                                  type: string
                                  description: A subfield of the location field. Indicates city/town/village/locality.
                                location_admin_area_level_1:
                                  type: string
                                  description: A subfield of the location field. Indicates state/county.
                                location_admin_area_level_2:
                                  type: string
                                  description: A subfield of the location field. Indicates region.
                                location_country:
                                  type: string
                                  description: A subfield of the location field. Indicates country.
                                location_postal_code:
                                  type: string
                                  description: A subfield of the location field. Indicates ZIP/postal code.
                                location_formatted_address:
                                  type: string
                                  description: A subfield of the location field. Indicates full/combined address.
                                org_name:
                                  description: The name of the organization this activity is associated with
                                  type: string
                                person_name:
                                  description: The name of the person this activity is associated with
                                  type: string
                                deal_title:
                                  description: The name of the deal this activity is associated with
                                  type: string
                                owner_name:
                                  description: The name of the user this activity is owned by
                                  type: string
                                person_dropbox_bcc:
                                  type: string
                                  description: The BCC email address of the person
                                deal_dropbox_bcc:
                                  type: string
                                  description: The BCC email address of the deal
                                assigned_to_user_id:
                                  description: The ID of the user to whom the activity is assigned to. Equal to `user_id`.
                                  type: integer
                                file:
                                  type: object
                                  description: The file that is attached to this activity. For example, this can be a reference to an audio note file generated with Pipedrive mobile app.
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - activityType
                          id:
                            type: integer
                          data:
                            type: object
                            title: ActivityType
                            properties:
                              id:
                                type: integer
                                description: The ID of the activity type
                              name:
                                type: string
                                description: The name of the activity type
                              icon_key:
                                type: string
                                description: Icon graphic to use for representing this activity type
                                enum:
                                - task
                                - email
                                - meeting
                                - deadline
                                - call
                                - lunch
                                - calendar
                                - downarrow
                                - document
                                - smartphone
                                - camera
                                - scissors
                                - cogs
                                - bubble
                                - uparrow
                                - checkbox
                                - signpost
                                - shuffle
                                - addressbook
                                - linegraph
                                - picture
                                - car
                                - world
                                - search
                                - clip
                                - sound
                                - brush
                                - key
                                - padlock
                                - pricetag
                                - suitcase
                                - finish
                                - plane
                                - loop
                                - wifi
                                - truck
                                - cart
                                - bulb
                                - bell
                                - presentation
                              color:
                                type: string
                                description: A designated color for the activity type in 6-character HEX format (e.g. `FFFFFF` for white, `000000` for black)
                              order_nr:
                                type: integer
                                description: An order number for the activity type. Order numbers should be used to order the types in the activity type selections.
                              key_string:
                                type: string
                                description: A string that is generated by the API based on the given name of the activity type upon creation
                              active_flag:
                                type: boolean
                                description: The active flag of the activity type
                              is_custom_flag:
                                type: boolean
                                description: Whether the activity type is a custom one or not
                              add_time:
                                type: string
                                format: date-time
                                description: The creation time of the activity type
                              update_time:
                                type: string
                                format: date-time
                                description: The update time of the activity type
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - deal
                          id:
                            type: integer
                          data:
                            title: DealStrict
                            allOf:
                            - type: object
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the deal
                                creator_user_id:
                                  type: integer
                                  description: The ID of the deal creator
                                user_id:
                                  type: integer
                                  description: The ID of the user
                                person_id:
                                  type: integer
                                  description: The ID of the person associated with the deal
                                org_id:
                                  type: integer
                                  description: The ID of the organization associated with the deal
                            - title: baseDeal
                              type: object
                              properties:
                                stage_id:
                                  type: integer
                                  description: The ID of the deal stage
                                title:
                                  type: string
                                  description: The title of the deal
                                value:
                                  type: number
                                  description: The value of the deal
                                currency:
                                  type: string
                                  description: The currency associated with the deal
                                add_time:
                                  type: string
                                  description: The creation date and time of the deal
                                update_time:
                                  type: string
                                  description: The last updated date and time of the deal
                                stage_change_time:
                                  type: string
                                  description: The last updated date and time of the deal stage
                                active:
                                  type: boolean
                                  description: Whether the deal is active or not
                                deleted:
                                  type: boolean
                                  description: Whether the deal is deleted or not
                                is_archived:
                                  type: boolean
                                  description: Whether the deal is archived or not
                                status:
                                  type: string
                                  description: The status of the deal
                                probability:
                                  type: number
                                  nullable: true
                                  description: The success probability percentage of the deal
                                next_activity_date:
                                  type: string
                                  description: The date of the next activity associated with the deal
                                next_activity_time:
                                  type: string
                                  description: The time of the next activity associated with the deal
                                next_activity_id:
                                  type: integer
                                  nullable: true
                                  description: The ID of the next activity associated with the deal
                                last_activity_id:
                                  type: integer
                                  nullable: true
                                  description: The ID of the last activity associated with the deal
                                last_activity_date:
                                  type: string
                                  nullable: true
                                  description: The date of the last activity associated with the deal
                                lost_reason:
                                  type: string
                                  nullable: true
                                  description: The reason for losing the deal
                                visible_to:
                                  type: string
                                  description: The visibility of the deal
                                close_time:
                                  type: string
                                  nullable: true
                                  description: The date and time of closing the deal
                                pipeline_id:
                                  type: integer
                                  description: The ID of the pipeline associated with the deal
                                won_time:
                                  type: string
                                  description: The date and time of changing the deal status as won
                                first_won_time:
                                  type: string
                                  description: The date and time of the first time changing the deal status as won
                                lost_time:
                                  type: string
                                  description: The date and time of changing the deal status as lost
                                products_count:
                                  type: integer
                                  description: The number of products associated with the deal
                                files_count:
                                  type: integer
                                  description: The number of files associated with the deal
                                notes_count:
                                  type: integer
                                  description: The number of notes associated with the deal
                                followers_count:
                                  type: integer
                                  description: The number of followers associated with the deal
                                email_messages_count:
                                  type: integer
                                  description: The number of emails associated with the deal
                                activities_count:
                                  type: integer
                                  description: The number of activities associated with the deal
                                done_activities_count:
                                  type: integer
                                  description: The number of completed activities associated with the deal
                                undone_activities_count:
                                  type: integer
                                  description: The number of incomplete activities associated with the deal
                                participants_count:
                                  type: integer
                                  description: The number of participants associated with the deal
                                expected_close_date:
                                  type: string
                                  format: date
                                  description: The expected close date of the deal
                                last_incoming_mail_time:
                                  type: string
                                  description: The date and time of the last incoming email associated with the deal
                                last_outgoing_mail_time:
                                  type: string
                                  description: The date and time of the last outgoing email associated with the deal
                                label:
                                  type: string
                                  description: The label or multiple labels assigned to the deal
                                stage_order_nr:
                                  type: integer
                                  description: The order number of the deal stage associated with the deal
                                person_name:
                                  type: string
                                  description: The name of the person associated with the deal
                                org_name:
                                  type: string
                                  description: The name of the organization associated with the deal
                                next_activity_subject:
                                  type: string
                                  description: The subject of the next activity associated with the deal
                                next_activity_type:
                                  type: string
                                  description: The type of the next activity associated with the deal
                                next_activity_duration:
                                  type: string
                                  description: The duration of the next activity associated with the deal
                                next_activity_note:
                                  type: string
                                  description: The note of the next activity associated with the deal
                                formatted_value:
                                  type: string
                                  description: The deal value formatted with selected currency. E.g. US$500
                                weighted_value:
                                  type: number
                                  description: Probability times deal value. Probability can either be deal probability or if not set, then stage probability.
                                formatted_weighted_value:
                                  type: string
                                  description: The weighted_value formatted with selected currency. E.g. US$500
                                weighted_value_currency:
                                  type: string
                                  description: The currency associated with the deal
                                rotten_time:
                                  type: string
                                  nullable: true
                                  description: The date and time of changing the deal status as rotten
                                owner_name:
                                  type: string
                                  description: The name of the deal owner
                                cc_email:
                                  type: string
                                  description: The BCC email of the deal
                                org_hidden:
                                  type: boolean
                                  description: If the organization that is associated with the deal is hidden or not
                                person_hidden:
                                  type: boolean
                                  description: If the person that is associated with the deal is hidden or not
                                origin:
                                  type: string
                                  description: The way this Deal was created. `origin` field is set by Pipedrive when Deal is created and cannot be changed.
                                origin_id:
                                  type: string
                                  nullable: true
                                  description: The optional ID to further distinguish the origin of the deal - e.g. Which API integration created this Deal.
                                channel:
                                  type: integer
                                  nullable: true
                                  description: The ID of your Marketing channel this Deal was created from. Recognized Marketing channels can be configured in your <a href="https://app.pipedrive.com/settings/fields" target="_blank" rel="noopener noreferrer">Company settings</a>.
                                channel_id:
                                  type: string
                                  nullable: true
                                  description: The optional ID to further distinguish the Marketing channel.
                                arr:
                                  type: number
                                  nullable: true
                                  description: 'Only available in Growth and above plans


                                    The Annual Recurring Revenue of the deal


                                    Null if there are no products attached to the deal

                                    '
                                mrr:
                                  type: number
                                  nullable: true
                                  description: 'Only available in Growth and above plans


                                    The Monthly Recurring Revenue of the deal


                                    Null if there are no products attached to the deal

                                    '
                                acv:
                                  type: number
                                  nullable: true
                                  description: 'Only available in Growth and above plans


                                    The Annual Contract Value of the deal


                                    Null if there are no products attached to the deal

                                    '
                                arr_currency:
                                  type: string
                                  nullable: true
                                  description: 'Only available in Growth and above plans


                                    The Currency for Annual Recurring Revenue of the deal


                                    If the `arr` is null, this will also be null

                                    '
                                mrr_currency:
                                  type: string
                                  nullable: true
                                  description: 'Only available in Growth and above plans


                                    The Currency for Monthly Recurring Revenue of the deal


                                    If the `mrr` is null, this will also be null

                                    '
                                acv_currency:
                                  type: string
                                  nullable: true
                                  description: 'Only available in Growth and above plans


                                    The Currency for Annual Contract Value of the deal


                                    If the `acv` is null, this will also be null

                                    '
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - file
                          id:
                            type: integer
                          data:
                            type: object
                            description: The file data
                            properties:
                              id:
                                type: integer
                                description: The ID of the file
                              user_id:
                                type: integer
                                description: The ID of the user to associate the file with
                              deal_id:
                                type: integer
                                description: The ID of the deal to associate the file with
                              person_id:
                                type: integer
                                description: The ID of the person to associate the file with
                              org_id:
                                type: integer
                                description: The ID of the organization to associate the file with
                              product_id:
                                type: integer
                                description: The ID of the product to associate the file with
                              activity_id:
                                type: integer
                                description: The ID of the activity to associate the file with
                              lead_id:
                                type: string
                                description: The ID of the lead to associate the file with
                                format: uuid
                              add_time:
                                type: string
                                description: 'The date and time when the file was added/created. Format: YYYY-MM-DD HH:MM:SS'
                              update_time:
                                type: string
                                description: 'The last updated date and time of the file. Format: YYYY-MM-DD HH:MM:SS'
                              file_name:
                                type: string
                                description: The original name of the file
                              file_size:
                                type: integer
                                description: The size of the file
                              active_flag:
                                type: boolean
                                description: Whether the user is active or not. false = Not activated, true = Activated
                              inline_flag:
                                type: boolean
                                description: Whether the file was uploaded as inline or not
                              remote_location:
                                type: string
                                description: The location type to send the file to. Only googledrive is supported at the moment.
                              remote_id:
                                type: string
                                description: The ID of the remote item
                              cid:
                                type: string
                                description: The ID of the inline attachment
                              s3_bucket:
                                type: string
                                description: The location of the cloud storage
                              mail_message_id:
                                type: string
                                description: The ID of the mail message to associate the file with
                              mail_template_id:
                                type: string
                                description: The ID of the mail template to associate the file with
                              deal_name:
                                type: string
                                description: The name of the deal associated with the dile
                              person_name:
                                type: string
                                description: The name of the person associated with the file
                              org_name:
                                type: string
                                description: The name of the organization associated with the file
                              product_name:
                                type: string
                                description: The name of the product associated with the file
                              lead_name:
                                type: string
                                description: The name of the lead associated with the file
                              url:
                                type: string
                                description: The URL of the download file
                              name:
                                type: string
                                description: The visible name of the file
                              description:
                                type: string
                                description: The description of the file
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - filter
                          id:
                            type: integer
                          data:
                            description: The filter object
                            type: object
                            properties:
                              id:
                                type: integer
                                description: The ID of the filter
                              name:
                                type: string
                                description: The name of the filter
                              filter_code:
                                type: string
                                nullable: true
                                description: The system code of the filter
                              is_editable:
                                type: boolean
                                description: Whether the filter can be edited by the requesting user
                              active_flag:
                                type: boolean
                                description: The active flag of the filter
                              type:
                                type: string
                                enum:
                                - deals
                                - leads
                                - org
                                - people
                                - products
                                - activity
                                - projects
                              temporary_flag:
                                type: boolean
                                nullable: true
                                description: Whether the filter is temporary
                              user_id:
                                type: integer
                                description: The owner of the filter
                              add_time:
                                type: string
                                description: The date and time when the filter was added
                              update_time:
                                type: string
                                nullable: true
                                description: The date and time when the filter was updated
                              visible_to:
                                allOf:
                                - type: string
                                  enum:
                                  - '1'
                                  - '3'
                                  - '5'
                                  - '7'
                                description: The visibility group ID of who can see the filter
                              last_used_time:
                                type: string
                                nullable: true
                                description: The date and time when the filter was last used
                              custom_view_id:
                                type: integer
                                nullable: true
                                description: The custom view ID linked to the filter
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - note
                          id:
                            type: integer
                          data:
                            type: object
                            title: Note
                            properties:
                              id:
                                type: integer
                                description: The ID of the note
                              active_flag:
                                type: boolean
                                description: Whether the note is active or deleted
                              add_time:
                                type: string
                                description: The creation date and time of the note
                              content:
                                type: string
                                description: The content of the note in HTML format. Subject to sanitization on the back-end.
                              deal:
                                type: object
                                description: The deal this note is attached to
                                properties:
                                  title:
                                    type: string
                                    description: The title of the deal this note is attached to
                              lead_id:
                                type: string
                                format: uuid
                                description: The ID of the lead the note is attached to
                              deal_id:
                                type: integer
                                description: The ID of the deal the note is attached to
                              last_update_user_id:
                                type: integer
                                description: The ID of the user who last updated the note
                              org_id:
                                type: integer
                                description: The ID of the organization the note is attached to
                              organization:
                                type: object
                                description: The organization the note is attached to
                                properties:
                                  name:
                                    type: string
                                    description: The name of the organization the note is attached to
                              person:
                                type: object
                                description: The person the note is attached to
                                properties:
                                  name:
                                    type: string
                                    description: The name of the person the note is attached to
                              person_id:
                                type: integer
                                description: The ID of the person the note is attached to
                              project_id:
                                type: integer
                                description: The ID of the project the note is attached to
                              project:
                                type: object
                                description: The project the note is attached to
                                properties:
                                  title:
                                    type: string
                                    description: The title of the project the note is attached to
                              task_id:
                                type: integer
                                description: The ID of the task the note is attached to
                              task:
                                type: object
                                description: The task the note is attached to
                                properties:
                                  title:
                                    type: string
                                    description: The title of the task the note is attached to
                              pinned_to_deal_flag:
                                type: boolean
                                description: If true, the results are filtered by note to deal pinning state
                              pinned_to_organization_flag:
                                type: boolean
                                description: If true, the results are filtered by note to organization pinning state
                              pinned_to_person_flag:
                                type: boolean
                                description: If true, the results are filtered by note to person pinning state
                              pinned_to_project_flag:
                                type: boolean
                                description: If true, the results are filtered by note to project pinning state
                              pinned_to_task_flag:
                                type: boolean
                                description: If true, the results are filtered by note to task pinning state
                              update_time:
                                type: string
                                description: The last updated date and time of the note
                              user:
                                type: object
                                description: The user who created the note
                                properties:
                                  email:
                                    type: string
                                    description: The email of the note creator
                                  icon_url:
                                    type: string
                                    description: The URL of the note creator avatar picture
                                  is_you:
                                    type: boolean
                                    description: Whether the note is created by you or not
                                  name:
                                    type: string
                                    description: The name of the note creator
                              user_id:
                                type: integer
                                description: The ID of the note creator
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - person
                          id:
                            type: integer
                          data:
                            type: object
                            title: mergePersonItem
                            allOf:
                            - type: object
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the person
                                company_id:
                                  type: integer
                                  description: The ID of the company related to the person
                                active_flag:
                                  type: boolean
                                  description: Whether the person is active or not
                                phone:
                                  type: array
                                  description: 'A phone number supplied as a string or an array of phone objects related to the person. The structure of the array is as follows: `[{ "value": "12345", "primary": "true", "label": "mobile" }]`. Please note that only `value` is required.'
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The phone number
                                      primary:
                                        type: boolean
                                        description: Boolean that indicates if phone number is primary for the person or not
                                      label:
                                        type: string
                                        description: The label that indicates the type of the phone number. (Possible values - work, home, mobile or other)
                                email:
                                  type: array
                                  description: 'An email address as a string or an array of email objects related to the person. The structure of the array is as follows: `[{ "value": "mail@example.com", "primary": "true", "label": "main" } ]`. Please note that only `value` is required.'
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: Email
                                      primary:
                                        type: boolean
                                        description: Boolean that indicates if email is primary for the person or not
                                      label:
                                        type: string
                                        description: The label that indicates the type of the email. (Possible values - work, home or other)
                                first_char:
                                  type: string
                                  description: The first letter of the name of the person
                                add_time:
                                  type: string
                                  description: 'The date and time when the person was added/created. Format: YYYY-MM-DD HH:MM:SS'
                                update_time:
                                  type: string
                                  description: 'The last updated date and time of the person. Format: YYYY-MM-DD HH:MM:SS'
                                visible_to:
                                  type: string
                                  description: The visibility group ID of who can see the person
                                picture_id:
                                  type: object
                                  nullable: true
                                  title: PictureDataWithID
                                  properties:
                                    id:
                                      type: integer
                                      description: The ID of the picture associated with the item
                                    item_type:
                                      type: string
                                      description: The type of item the picture is related to
                                    item_id:
                                      type: integer
                                      description: The ID of related item
                                    active_flag:
                                      type: boolean
                                      description: Whether the associated picture is active or not
                                    add_time:
                                      type: string
                                      description: The add time of the picture
                                    update_time:
                                      type: string
                                      description: The update time of the picture
                                    added_by_user_id:
                                      type: integer
                                      description: The ID of the user who added the picture
                                    pictures:
                                      type: object
                                      properties:
                                        '128':
                                          type: string
                                          description: The URL of the 128*128 picture
                                        '512':
                                          type: string
                                          description: The URL of the 512*512 picture
                                label:
                                  type: integer
                                  nullable: true
                                  description: The label assigned to the person. When the `label` field is updated, the `label_ids` field value will be overwritten by the `label` field value.
                                label_ids:
                                  type: array
                                  items:
                                    type: integer
                                  description: The IDs of labels assigned to the person. When the `label_ids` field is updated, the `label` field value will be set to the first value of the `label_ids` field.
                                org_name:
                                  type: string
                                  nullable: true
                                  description: The name of the organization associated with the person
                                owner_name:
                                  type: string
                                  description: The name of the owner associated with the person
                                cc_email:
                                  type: string
                                  nullable: true
                                  description: The BCC email associated with the person
                            - type: object
                              title: additionalMergePersonInfo
                              allOf:
                              - type: object
                                title: personNameCountAndEmailInfoWithIds
                                allOf:
                                - type: object
                                  properties:
                                    owner_id:
                                      type: integer
                                      description: The ID of the owner related to the person
                                    org_id:
                                      type: integer
                                      description: The ID of the organization related to the person
                                    merge_what_id:
                                      type: integer
                                      description: The ID of the person with what the main person was merged
                                - type: object
                                  title: personNameCountAndEmailInfo
                                  allOf:
                                  - type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the person
                                      first_name:
                                        type: string
                                        description: The first name of the person
                                      last_name:
                                        type: string
                                        nullable: true
                                        description: The last name of the person
                                  - type: object
                                    title: personCountAndEmailInfo
                                    allOf:
                                    - type: object
                                      properties:
                                        email_messages_count:
                                          type: integer
                                          description: The count of email messages related to the person
                                        activities_count:
                                          type: integer
                                          description: The count of activities related to the person
                                        done_activities_count:
                                          type: integer
                                          description: The count of done activities related to the person
                                        undone_activities_count:
                                          type: integer
                                          description: The count of undone activities related to the person
                                        files_count:
                                          type: integer
                                          description: The count of files related to the person
                                        notes_count:
                                          type: integer
                                          description: The count of notes related to the person
                                        followers_count:
                                          type: integer
                                          description: The count of followers related to the person
                                    - type: object
                                      properties:
                                        last_incoming_mail_time:
                                          type: string
                                          nullable: true
                                          description: The date and time of the last incoming email associated with the person
                                        last_outgoing_mail_time:
                                          type: string
                                          nullable: true
                                          description: The date and time of the last outgoing email associated with the person
                              - type: object
                                title: mergePersonDealRelatedInfo
                                allOf:
                                - type: object
                                  title: dealCountAndActivityInfo
                                  allOf:
                                  - type: object
                                    properties:
                                      open_deals_count:
                                        type: integer
                                        description: The count of open deals related with the item
                                      related_open_deals_count:
                                        type: integer
                                        description: The count of related open deals related with the item
                                      closed_deals_count:
                                        type: integer
                                        description: The count of closed deals related with the item
                                      related_closed_deals_count:
                                        type: integer
                                        description: The count of related closed deals related with the item
                                      won_deals_count:
                                        type: integer
                                        description: The count of won deals related with the item
                                      related_won_deals_count:
                                        type: integer
                                        description: The count of related won deals related with the item
                                      lost_deals_count:
                                        type: integer
                                        description: The count of lost deals related with the item
                                      related_lost_deals_count:
                                        type: integer
                                        description: The count of related lost deals related with the item
                                  - type: object
                                    properties:
                                      next_activity_date:
                                        type: string
                                        nullable: true
                                        description: The date of the next activity associated with the deal
                                      next_activity_time:
                                        type: string
                                        nullable: true
                                        description: The time of the next activity associated with the deal
                                      next_activity_id:
                                        type: integer
                                        nullable: true
                                        description: The ID of the next activity associated with the deal
                                      last_activity_id:
                                        type: integer
                                        nullable: true
                                        description: The ID of the last activity associated with the deal
                                      last_activity_date:
                                        type: string
                                        nullable: true
                                        description: The date of the last activity associated with the deal
                                - type: object
                                  properties:
                                    participant_open_deals_count:
                                      type: integer
                                      description: The count of open participant deals related with the item
                                    participant_closed_deals_count:
                                      type: integer
                                      description: The count of closed participant deals related with the item
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - organization
                          id:
                            type: integer
                          data:
                            type: object
                            title: BaseOrganizationItem
                            allOf:
                            - type: object
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the organization
                                company_id:
                                  type: integer
                                  description: The ID of the company related to the organization
                                owner_id:
                                  title: owner
                                  allOf:
                                  - properties:
                                      id:
                                        type: integer
                                        description: The ID of the user
                                      name:
                                        type: string
                                        description: The name of the user
                                      email:
                                        type: string
                                        description: The email of the user
                                      has_pic:
                                        type: integer
                                        description: Whether the user has picture or not. 0 = No picture, 1 = Has picture.
                                      pic_hash:
                                        type: string
                                        nullable: true
                                        description: The user picture hash
                                      active_flag:
                                        type: boolean
                                        description: Whether the user is active or not
                                  - type: object
                                    properties:
                                      value:
                                        type: integer
                                        description: The ID of the owner
                                name:
                                  type: string
                                  description: The name of the organization
                                active_flag:
                                  type: boolean
                                  description: Whether the organization is active or not
                                picture_id:
                                  allOf:
                                  - type: object
                                    title: PictureDataWithValue
                                    properties:
                                      value:
                                        type: integer
                                        description: The ID of the picture associated with the item
                                  - type: object
                                    title: PictureData
                                    properties:
                                      item_type:
                                        type: string
                                        description: The type of item the picture is related to
                                      item_id:
                                        type: integer
                                        description: The ID of related item
                                      active_flag:
                                        type: boolean
                                        description: Whether the associated picture is active or not
                                      add_time:
                                        type: string
                                        description: The add time of the picture
                                      update_time:
                                        type: string
                                        description: The update time of the picture
                                      added_by_user_id:
                                        type: integer
                                        description: The ID of the user who added the picture
                                      pictures:
                                        type: object
                                        properties:
                                          '128':
                                            type: string
                                            description: The URL of the 128*128 picture
                                          '512':
                                            type: string
                                            description: The URL of the 512*512 picture
                                country_code:
                                  type: string
                                  nullable: true
                                  description: The country code of the organization
                                first_char:
                                  type: string
                                  description: The first character of the organization name
                                add_time:
                                  type: string
                                  description: The creation date and time of the organization
                                update_time:
                                  type: string
                                  description: The last updated date and time of the organization
                                visible_to:
                                  type: string
                                  description: The visibility group ID of who can see the organization
                                label:
                                  type: integer
                                  description: The label assigned to the organization. When the `label` field is updated, the `label_ids` field value will be overwritten by the `label` field value.
                                label_ids:
                                  type: array
                                  items:
                                    type: integer
                                  description: The IDs of labels assigned to the organization. When the `label_ids` field is updated, the `label` field value will be set to the first value of the `label_ids` field.
                                owner_name:
                                  type: string
                                  description: The name of the organization owner
                                cc_email:
                                  type: string
                                  description: The BCC email associated with the organization
                            - type: object
                              title: additionalBaseOrganizationItemInfo
                              allOf:
                              - type: object
                                title: organizationCountAndAddressInfo
                                allOf:
                                - type: object
                                  properties:
                                    email_messages_count:
                                      type: integer
                                      description: The count of email messages related to the organization
                                    people_count:
                                      type: integer
                                      description: The count of persons related to the organization
                                    activities_count:
                                      type: integer
                                      description: The count of activities related to the organization
                                    done_activities_count:
                                      type: integer
                                      description: The count of done activities related to the organization
                                    undone_activities_count:
                                      type: integer
                                      description: The count of undone activities related to the organization
                                    files_count:
                                      type: integer
                                      description: The count of files related to the organization
                                    notes_count:
                                      type: integer
                                      description: The count of notes related to the organization
                                    followers_count:
                                      type: integer
                                      description: The count of followers related to the organization
                                - type: object
                                  properties:
                                    address:
                                      type: string
                                      description: The full address of the organization
                                    address_subpremise:
                                      type: string
                                      description: The sub-premise of the organization location
                                    address_street_number:
                                      type: string
                                      description: The street number of the organization location
                                    address_route:
                                      type: string
                                      description: The route of the organization location
                                    address_sublocality:
                                      type: string
                                      description: The sub-locality of the organization location
                                    address_locality:
                                      type: string
                                      description: The locality of the organization location
                                    address_admin_area_level_1:
                                      type: string
                                      description: The level 1 admin area of the organization location
                                    address_admin_area_level_2:
                                      type: string
                                      description: The level 2 admin area of the organization location
                                    address_country:
                                      type: string
                                      description: The country of the organization location
                                    address_postal_code:
                                      type: string
                                      description: The postal code of the organization location
                                    address_formatted_address:
                                      type: string
                                      description: The formatted organization location
                              - type: object
                                title: dealsCountAndActivityInfo
                                allOf:
                                - type: object
                                  properties:
                                    open_deals_count:
                                      type: integer
                                      description: The count of open deals related with the item
                                    related_open_deals_count:
                                      type: integer
                                      description: The count of related open deals related with the item
                                    closed_deals_count:
                                      type: integer
                                      description: The count of closed deals related with the item
                                    related_closed_deals_count:
                                      type: integer
                                      description: The count of related closed deals related with the item
                                    won_deals_count:
                                      type: integer
                                      description: The count of won deals related with the item
                                    related_won_deals_count:
                                      type: integer
                                      description: The count of related won deals related with the item
                                    lost_deals_count:
                                      type: integer
                                      description: The count of lost deals related with the item
                                    related_lost_deals_count:
                                      type: integer
                                      description: The count of related lost deals related with the item
                                - type: object
                                  properties:
                                    next_activity_date:
                                      type: string
                                      nullable: true
                                      description: The date of the next activity associated with the deal
                                    next_activity_time:
                                      type: string
                                      nullable: true
                                      description: The time of the next activity associated with the deal
                                    next_activity_id:
                                      type: integer
                                      nullable: true
                                      description: The ID of the next activity associated with the deal
                                    last_activity_id:
                                      type: integer
                                      nullable: true
                                      description: The ID of the last activity associated with the deal
                                    last_activity_date:
                                      type: string
                                      nullable: true
                                      description: The date of the last activity associated with the deal
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - pipeline
                          id:
                            type: integer
                          data:
                            type: object
                            title: BasePipeline
                            properties:
                              id:
                                type: integer
                                description: The ID of the pipeline
                              name:
                                type: string
                                description: The name of the pipeline
                              url_title:
                                type: string
                                description: The pipeline title displayed in the URL
                              order_nr:
                                type: integer
                                description: Defines the order of pipelines. First order (`order_nr=0`) is the default pipeline.
                              active:
                                type: boolean
                                description: Whether this pipeline will be made inactive (hidden) or active
                              deal_probability:
                                type: boolean
                                description: Whether deal probability is disabled or enabled for this pipeline
                              add_time:
                                type: string
                                description: 'The pipeline creation time. Format: YYYY-MM-DD HH:MM:SS.'
                              update_time:
                                type: string
                                description: 'The pipeline update time. Format: YYYY-MM-DD HH:MM:SS.'
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - product
                          id:
                            type: integer
                          data:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: The ID of the product
                              name:
                                type: string
                                description: The name of the product
                              code:
                                type: string
                                description: The product code
                              description:
                                type: string
                                description: The description of the product
                              unit:
                                type: string
                                description: The unit in which this product is sold
                              tax:
                                type: number
                                description: The tax percentage
                                default: 0
                              category:
                                type: string
                                description: The category of the product
                              active_flag:
                                type: boolean
                                description: Whether this product will be made active or not
                              selectable:
                                type: boolean
                                description: Whether this product can be selected in deals or not
                              first_char:
                                type: string
                                description: The first letter of the product name
                              visible_to:
                                type: integer
                                description: The visibility of the product. If omitted, the visibility will be set to the default visibility setting of this item type for the authorized user.
                              owner_id:
                                type: integer
                                description: The ID of the user who will be marked as the owner of this product. When omitted, authorized user ID will be used.
                              files_count:
                                type: integer
                                description: The count of files
                              add_time:
                                type: string
                                description: The date and time when the product was added to the deal
                              update_time:
                                type: string
                                description: The date and time when the product was updated to the deal
                              prices:
                                type: array
                                items:
                                  type: object
                                description: 'Array of objects, each containing: `currency` (string), `price` (number), `cost` (number, optional), `overhead_cost` (number, optional). Note that there can only be one price per product per currency. When `prices` is omitted altogether, a default price of 0 and a default currency based on the company''s currency will be assigned.'
                      - type: object
                        title: RecentsStage
                        properties:
                          item:
                            type: string
                            enum:
                            - stage
                          id:
                            type: integer
                          data:
                            type: object
                            title: BaseStage
                            properties:
                              id:
                                type: integer
                                description: The ID of the stage
                              order_nr:
                                type: integer
                                description: Defines the order of the stage
                              name:
                                type: string
                                description: The name of the stage
                              active_flag:
                                type: boolean
                                description: Whether the stage is active or deleted
                              deal_probability:
                                type: integer
                                description: The success probability percentage of the deal. Used/shown when the deal weighted values are used.
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline to add the stage to
                              rotten_flag:
                                type: boolean
                                description: Whether deals in this stage can become rotten
                              rotten_days:
                                type: integer
                                description: The number of days the deals not updated in this stage would become rotten. Applies only if the `rotten_flag` is set.
                              add_time:
                                type: string
                                description: 'The stage creation time. Format: YYYY-MM-DD HH:MM:SS.'
                              update_time:
                                type: string
                                description: 'The stage update time. Format: YYYY-MM-DD HH:MM:SS.'
                      - type: object
                        properties:
                          item:
                            type: string
                            enum:
                            - user
                          id:
                            type: integer
                          data:
                            type: object
                            title: BaseUser
                            properties:
                              id:
                                type: integer
                                description: The user ID
                              name:
                                type: string
                                description: The user name
                              default_currency:
                                type: string
                                description: The user default currency
                              locale:
                                type: string
                                description: The user locale
                              lang:
                                type: integer
                                description: The user language ID
                              email:
                                type: string
                                description: The user email
                              phone:
                                type: string
                                nullable: true
                                description: The user phone
                              activated:
                                type: boolean
                                description: Boolean that indicates whether the user is activated
                              last_login:
                                type: string
                                description: 'The last login date and time of the user. Format: YYYY-MM-DD HH:MM:SS'
                              created:
                                type: string
                                description: 'The creation date and time of the user. Format: YYYY-MM-DD HH:MM:SS'
                              modified:
                                type: string
                                nullable: true
                                description: 'The last modification date and time of the user. Format: YYYY-MM-DD HH:MM:SS'
                              has_created_company:
                                type: boolean
                                description: Boolean that indicates whether the user has created a company
                              access:
                                type: array
                                items:
                                  type: object
                                  title: UserAccess
                                  properties:
                                    app:
                                      type: string
                                      enum:
                                      - global
                                      - sales
                                      - campaigns
                                      - projects
                                      - account_settings
                                      - partnership
                                      description: The granular app access level
                                    admin:
                                      type: boolean
                                      description: Whether the user has admin access or not
                                    permission_set_id:
                                      type: string
                                      description: The ID of the permission set
                              active_flag:
                                type: boolean
                                description: Boolean that indicates whether the user is activated
                              timezone_name:
                                type: string
                                description: The user timezone name
                              timezone_offset:
                                type: string
                                description: The user timezone offset
                              role_id:
                                type: integer
                                description: The ID of the user role
                              icon_url:
                                type: string
                                nullable: true
                                description: The user icon URL
                              is_you:
                                type: boolean
                                description: Boolean that indicates if the requested user is the same which is logged in (in this case, always true)
                              is_deleted:
                                type: boolean
                                description: Boolean that indicates whether the user is deleted from the company
                  additional_data:
                    type: object
                    properties:
                      since_timestamp:
                        type: string
                        description: 'The timestamp in UTC. Format: YYYY-MM-DD HH:MM:SS'
                      last_timestamp_on_page:
                        type: string
                        description: 'The timestamp in UTC. Format: YYYY-MM-DD HH:MM:SS'
                      pagination:
                        description: The additional data of the list
                        type: object
                        properties:
                          start:
                            type: integer
                            description: Pagination start
                          limit:
                            type: integer
                            description: Items shown per page
                          more_items_in_collection:
                            type: boolean
                            description: If there are more list items in the collection than displayed or not
              example:
                success: true
                data:
                - item: activity
                  id: 8
                  data:
                    id: 8
                    company_id: 22122
                    user_id: 1234
                    done: false
                    type: deadline
                    reference_type: scheduler-service
                    reference_id: 7
                    conference_meeting_client: 871b8bc88d3a1202
                    conference_meeting_url: https://pipedrive.zoom.us/link
                    conference_meeting_id: '17058746701'
                    due_date: '2020-06-09'
                    due_time: '10:00'
                    duration: 01:00
                    busy_flag: true
                    add_time: '2020-06-08 12:37:56'
                    marked_as_done_time: '2020-08-08 08:08:38'
                    last_notification_time: '2020-08-08 12:37:56'
                    last_notification_user_id: 7655
                    notification_language_id: 1
                    subject: Deadline
                    public_description: This is a description
                    calendar_sync_include_context: ''
                    location: Mustamäe tee 3, Tallinn, Estonia
                    org_id: 5
                    person_id: 1101
                    deal_id: 300
                    lead_id: 46c3b0e1-db35-59ca-1828-4817378dff71
                    project_id: null
                    active_flag: true
                    update_time: '2020-08-08 12:37:56'
                    update_user_id: 5596
                    gcal_event_id: ''
                    google_calendar_id: ''
                    google_calendar_etag: ''
                    source_timezone: ''
                    rec_rule: RRULE:FREQ=WEEKLY;BYDAY=WE
                    rec_rule_extension: ''
                    rec_master_activity_id: 1
                    series: []
                    note: A note for the activity
                    created_by_user_id: 1234
                    location_subpremise: ''
                    location_street_number: '3'
                    location_route: Mustamäe tee
                    location_sublocality: Kristiine
                    location_locality: Tallinn
[...]
