openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities OrganizationRelationships API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: OrganizationRelationships
  description: 'Organization relationships represent how different organizations are related to each other. The relationship can be hierarchical (parent-child companies) or lateral as defined by the `type` field - either `parent` or `related`.

    '
paths:
  /organizationRelationships:
    get:
      summary: Get all relationships for organization
      description: Gets all of the relationships for a supplied organization ID.
      x-token-cost: 20
      operationId: getOrganizationRelationships
      tags:
      - OrganizationRelationships
      security:
      - api_key: []
      - oauth2:
        - contacts:read
        - contacts:full
      parameters:
      - in: query
        name: org_id
        required: true
        schema:
          type: integer
        description: The ID of the organization to get relationships for
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: GetOrganizationRelationshipsResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - type: object
                  properties:
                    data:
                      type: array
                      description: The array of organization relationships
                      items:
                        title: organizationRelationshipDetails
                        allOf:
                        - title: organizationRelationshipWithCalculatedFields
                          allOf:
                          - type: object
                            properties:
                              id:
                                type: integer
                                description: The ID of the organization relationship
                              type:
                                type: string
                                description: The type of the relationship
                              rel_owner_org_id:
                                title: relationshipOrganizationInfoItem
                                allOf:
                                - type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the organization associated with the item
                                    people_count:
                                      type: integer
                                      description: The number of people connected with the organization that is associated with the item
                                    owner_id:
                                      type: integer
                                      description: The ID of the owner of the organization that is associated with the item
                                    address:
                                      type: string
                                      nullable: true
                                      description: The address of the organization
                                    cc_email:
                                      type: string
                                      nullable: true
                                      description: The BCC email of the organization associated with the item
                                - type: object
                                  properties:
                                    value:
                                      type: integer
                                      description: The ID of the organization
                              rel_linked_org_id:
                                title: relationshipOrganizationInfoItem
                                allOf:
                                - type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the organization associated with the item
                                    people_count:
                                      type: integer
                                      description: The number of people connected with the organization that is associated with the item
                                    owner_id:
                                      type: integer
                                      description: The ID of the owner of the organization that is associated with the item
                                    address:
                                      type: string
                                      nullable: true
                                      description: The address of the organization
                                    cc_email:
                                      type: string
                                      nullable: true
                                      description: The BCC email of the organization associated with the item
                                - type: object
                                  properties:
                                    value:
                                      type: integer
                                      description: The ID of the organization
                              add_time:
                                type: string
                                description: The creation date and time of the relationship
                              update_time:
                                type: string
                                description: The last updated date and time of the relationship
                              active_flag:
                                type: string
                                description: Whether the relationship is active or not
                          - type: object
                            properties:
                              calculated_type:
                                type: string
                                description: The calculated type of the relationship with the linked organization
                              calculated_related_org_id:
                                type: integer
                                description: The ID of the linked organization
                        - type: object
                          properties:
                            related_organization_name:
                              type: string
                              description: The name of the linked organization
                    additional_data:
                      description: The additional data of the list
                      type: object
                      properties:
                        start:
                          type: integer
                          description: Pagination start
                        limit:
                          type: integer
                          description: Items shown per page
                        more_items_in_collection:
                          type: boolean
                          description: If there are more list items in the collection than displayed or not
                    related_objects:
                      type: object
                      properties:
                        organization:
                          type: object
                          title: RelatedOrganizationData
                          properties:
                            ORGANIZATION_ID:
                              type: object
                              title: OrganizationDataWithId
                              description: The ID of the organization associated with the item
                              allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the organization that is associated with the item
                                  address:
                                    type: string
                                    nullable: true
                                    description: The address of the organization
                                  cc_email:
                                    type: string
                                    nullable: true
                                    description: The BCC email of the organization associated with the item
              example:
                success: true
                data:
                - related_organization_name: Telia
                  calculated_type: daughter
                  calculated_related_org_id: 1480
                  id: 1
                  type: parent
                  rel_owner_org_id:
                    name: Pipedrive Inc.
                    people_count: 1
                    owner_id: 925000
                    address: Mustamäe tee 3a, 10615 Tallinn
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1481
                  rel_linked_org_id:
                    name: Telia
                    people_count: 2
                    owner_id: 925000
                    address: USA
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1480
                  add_time: '2020-09-22 08:58:28'
                  update_time: '2020-09-22 08:58:28'
                  active_flag: 'true'
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: true
                related_objects:
                  organization:
                    '1482':
                      id: 457
                      name: Yandex
                      people_count: 2
                      owner_id: 9271535
                      address: Mustamäe tee 4b, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
    post:
      summary: Create an organization relationship
      description: Creates and returns an organization relationship.
      x-token-cost: 10
      operationId: addOrganizationRelationship
      tags:
      - OrganizationRelationships
      security:
      - api_key: []
      - oauth2:
        - contacts:full
      requestBody:
        content:
          application/json:
            schema:
              title: addOrganizationRelationshipRequest
              type: object
              required:
              - type
              - rel_owner_org_id
              - rel_linked_org_id
              properties:
                org_id:
                  type: integer
                  description: The ID of the base organization for the returned calculated values
                type:
                  type: string
                  enum:
                  - parent
                  - related
                  description: The type of organization relationship
                rel_owner_org_id:
                  type: integer
                  description: The owner of the relationship. If type is `parent`, then the owner is the parent and the linked organization is the daughter.
                rel_linked_org_id:
                  type: integer
                  description: The linked organization in the relationship. If type is `parent`, then the linked organization is the daughter.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: AddOrganizationRelationshipResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the organization relationship
                        type:
                          type: string
                          description: The type of the relationship
                        rel_owner_org_id:
                          title: relationshipOrganizationInfoItem
                          allOf:
                          - type: object
                            properties:
                              name:
                                type: string
                                description: The name of the organization associated with the item
                              people_count:
                                type: integer
                                description: The number of people connected with the organization that is associated with the item
                              owner_id:
                                type: integer
                                description: The ID of the owner of the organization that is associated with the item
                              address:
                                type: string
                                nullable: true
                                description: The address of the organization
                              cc_email:
                                type: string
                                nullable: true
                                description: The BCC email of the organization associated with the item
                          - type: object
                            properties:
                              value:
                                type: integer
                                description: The ID of the organization
                        rel_linked_org_id:
                          title: relationshipOrganizationInfoItem
                          allOf:
                          - type: object
                            properties:
                              name:
                                type: string
                                description: The name of the organization associated with the item
                              people_count:
                                type: integer
                                description: The number of people connected with the organization that is associated with the item
                              owner_id:
                                type: integer
                                description: The ID of the owner of the organization that is associated with the item
                              address:
                                type: string
                                nullable: true
                                description: The address of the organization
                              cc_email:
                                type: string
                                nullable: true
                                description: The BCC email of the organization associated with the item
                          - type: object
                            properties:
                              value:
                                type: integer
                                description: The ID of the organization
                        add_time:
                          type: string
                          description: The creation date and time of the relationship
                        update_time:
                          type: string
                          description: The last updated date and time of the relationship
                        active_flag:
                          type: string
                          description: Whether the relationship is active or not
                    related_objects:
                      type: object
                      properties:
                        organization:
                          type: object
                          title: RelatedOrganizationData
                          properties:
                            ORGANIZATION_ID:
                              type: object
                              title: OrganizationDataWithId
                              description: The ID of the organization associated with the item
                              allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the organization that is associated with the item
                                  address:
                                    type: string
                                    nullable: true
                                    description: The address of the organization
                                  cc_email:
                                    type: string
                                    nullable: true
                                    description: The BCC email of the organization associated with the item
              example:
                success: true
                data:
                  id: 1
                  type: parent
                  rel_owner_org_id:
                    name: Pipedrive Inc.
                    people_count: 1
                    owner_id: 925000
                    address: Mustamäe tee 3a, 10615 Tallinn
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1481
                  rel_linked_org_id:
                    name: Telia
                    people_count: 2
                    owner_id: 925000
                    address: USA
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1480
                  add_time: '2020-09-22 08:58:28'
                  update_time: '2020-09-22 08:58:28'
                  active_flag: 'true'
                related_objects:
                  organization:
                    '1482':
                      id: 457
                      name: Yandex
                      people_count: 2
                      owner_id: 9271535
                      address: Mustamäe tee 4b, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
  /organizationRelationships/{id}:
    delete:
      summary: Delete an organization relationship
      description: Deletes an organization relationship and returns the deleted ID.
      x-token-cost: 6
      operationId: deleteOrganizationRelationship
      tags:
      - OrganizationRelationships
      security:
      - api_key: []
      - oauth2:
        - contacts:full
      parameters:
      - in: path
        name: id
        description: The ID of the organization relationship
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: DeleteOrganizationRelationshipResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the deleted organization relationship
              example:
                success: true
                data:
                  id: 10
    get:
      summary: Get one organization relationship
      description: Finds and returns an organization relationship from its ID.
      x-token-cost: 2
      operationId: getOrganizationRelationship
      tags:
      - OrganizationRelationships
      security:
      - api_key: []
      - oauth2:
        - contacts:read
        - contacts:full
      parameters:
      - in: path
        name: id
        description: The ID of the organization relationship
        required: true
        schema:
          type: integer
      - in: query
        name: org_id
        required: false
        schema:
          type: integer
        description: The ID of the base organization for the returned calculated values
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: GetOrganizationRelationshipResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - type: object
                  properties:
                    data:
                      title: organizationRelationshipWithCalculatedFields
                      allOf:
                      - type: object
                        properties:
                          id:
                            type: integer
                            description: The ID of the organization relationship
                          type:
                            type: string
                            description: The type of the relationship
                          rel_owner_org_id:
                            title: relationshipOrganizationInfoItem
                            allOf:
                            - type: object
                              properties:
                                name:
                                  type: string
                                  description: The name of the organization associated with the item
                                people_count:
                                  type: integer
                                  description: The number of people connected with the organization that is associated with the item
                                owner_id:
                                  type: integer
                                  description: The ID of the owner of the organization that is associated with the item
                                address:
                                  type: string
                                  nullable: true
                                  description: The address of the organization
                                cc_email:
                                  type: string
                                  nullable: true
                                  description: The BCC email of the organization associated with the item
                            - type: object
                              properties:
                                value:
                                  type: integer
                                  description: The ID of the organization
                          rel_linked_org_id:
                            title: relationshipOrganizationInfoItem
                            allOf:
                            - type: object
                              properties:
                                name:
                                  type: string
                                  description: The name of the organization associated with the item
                                people_count:
                                  type: integer
                                  description: The number of people connected with the organization that is associated with the item
                                owner_id:
                                  type: integer
                                  description: The ID of the owner of the organization that is associated with the item
                                address:
                                  type: string
                                  nullable: true
                                  description: The address of the organization
                                cc_email:
                                  type: string
                                  nullable: true
                                  description: The BCC email of the organization associated with the item
                            - type: object
                              properties:
                                value:
                                  type: integer
                                  description: The ID of the organization
                          add_time:
                            type: string
                            description: The creation date and time of the relationship
                          update_time:
                            type: string
                            description: The last updated date and time of the relationship
                          active_flag:
                            type: string
                            description: Whether the relationship is active or not
                      - type: object
                        properties:
                          calculated_type:
                            type: string
                            description: The calculated type of the relationship with the linked organization
                          calculated_related_org_id:
                            type: integer
                            description: The ID of the linked organization
                    related_objects:
                      type: object
                      properties:
                        organization:
                          type: object
                          title: RelatedOrganizationData
                          properties:
                            ORGANIZATION_ID:
                              type: object
                              title: OrganizationDataWithId
                              description: The ID of the organization associated with the item
                              allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the organization that is associated with the item
                                  address:
                                    type: string
                                    nullable: true
                                    description: The address of the organization
                                  cc_email:
                                    type: string
                                    nullable: true
                                    description: The BCC email of the organization associated with the item
              example:
                success: true
                data:
                  id: 1
                  type: parent
                  rel_owner_org_id:
                    name: Pipedrive Inc.
                    people_count: 1
                    owner_id: 925000
                    address: Mustamäe tee 3a, 10615 Tallinn
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1481
                  rel_linked_org_id:
                    name: Telia
                    people_count: 2
                    owner_id: 925000
                    address: USA
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1480
                  add_time: '2020-09-22 08:58:28'
                  update_time: '2020-09-22 08:58:28'
                  active_flag: 'true'
                  calculated_type: daughter
                  calculated_related_org_id: 1480
                related_objects:
                  organization:
                    '1482':
                      id: 457
                      name: Yandex
                      people_count: 2
                      owner_id: 9271535
                      address: Mustamäe tee 4b, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
    put:
      summary: Update an organization relationship
      description: Updates and returns an organization relationship.
      x-token-cost: 10
      operationId: updateOrganizationRelationship
      tags:
      - OrganizationRelationships
      security:
      - api_key: []
      - oauth2:
        - contacts:full
      parameters:
      - in: path
        name: id
        description: The ID of the organization relationship
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              title: organizationRelationship
              type: object
              properties:
                org_id:
                  type: integer
                  description: The ID of the base organization for the returned calculated values
                type:
                  type: string
                  enum:
                  - parent
                  - related
                  description: The type of organization relationship
                rel_owner_org_id:
                  type: integer
                  description: The owner of this relationship. If type is `parent`, then the owner is the parent and the linked organization is the daughter.
                rel_linked_org_id:
                  type: integer
                  description: The linked organization in this relationship. If type is `parent`, then the linked organization is the daughter.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: UpdateOrganizationRelationshipResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the organization relationship
                        type:
                          type: string
                          description: The type of the relationship
                        rel_owner_org_id:
                          title: relationshipOrganizationInfoItem
                          allOf:
                          - type: object
                            properties:
                              name:
                                type: string
                                description: The name of the organization associated with the item
                              people_count:
                                type: integer
                                description: The number of people connected with the organization that is associated with the item
                              owner_id:
                                type: integer
                                description: The ID of the owner of the organization that is associated with the item
                              address:
                                type: string
                                nullable: true
                                description: The address of the organization
                              cc_email:
                                type: string
                                nullable: true
                                description: The BCC email of the organization associated with the item
                          - type: object
                            properties:
                              value:
                                type: integer
                                description: The ID of the organization
                        rel_linked_org_id:
                          title: relationshipOrganizationInfoItem
                          allOf:
                          - type: object
                            properties:
                              name:
                                type: string
                                description: The name of the organization associated with the item
                              people_count:
                                type: integer
                                description: The number of people connected with the organization that is associated with the item
                              owner_id:
                                type: integer
                                description: The ID of the owner of the organization that is associated with the item
                              address:
                                type: string
                                nullable: true
                                description: The address of the organization
                              cc_email:
                                type: string
                                nullable: true
                                description: The BCC email of the organization associated with the item
                          - type: object
                            properties:
                              value:
                                type: integer
                                description: The ID of the organization
                        add_time:
                          type: string
                          description: The creation date and time of the relationship
                        update_time:
                          type: string
                          description: The last updated date and time of the relationship
                        active_flag:
                          type: string
                          description: Whether the relationship is active or not
                    related_objects:
                      type: object
                      properties:
                        organization:
                          type: object
                          title: RelatedOrganizationData
                          properties:
                            ORGANIZATION_ID:
                              type: object
                              title: OrganizationDataWithId
                              description: The ID of the organization associated with the item
                              allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the organization that is associated with the item
                                  address:
                                    type: string
                                    nullable: true
                                    description: The address of the organization
                                  cc_email:
                                    type: string
                                    nullable: true
                                    description: The BCC email of the organization associated with the item
              example:
                success: true
                data:
                  id: 1
                  type: parent
                  rel_owner_org_id:
                    name: Pipedrive Inc.
                    people_count: 1
                    owner_id: 925000
                    address: Mustamäe tee 3a, 10615 Tallinn
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1481
                  rel_linked_org_id:
                    name: Telia
                    people_count: 2
                    owner_id: 925000
                    address: USA
                    active_flag: true
                    cc_email: company@pipedrivemail.com
                    value: 1480
                  add_time: '2020-09-22 08:58:28'
                  update_time: '2020-09-22 08:58:28'
                  active_flag: 'true'
                related_objects:
                  organization:
                    '1482':
                      id: 457
                      name: Yandex
                      people_count: 2
                      owner_id: 9271535
                      address: Mustamäe tee 4b, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
components:
  securitySchemes:
    basic_authentication:
      type: http
      scheme: basic
      description: Base 64 encoded string containing the `client_id` and `client_secret` values. The header value should be `Basic <base64(client_id:client_secret)>`.
    api_key:
      type: apiKey
      name: x-api-token
      in: header
    oauth2:
      type: oauth2
      description: For more information, see https://pipedrive.readme.io/docs/marketplace-oauth-authorization
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.pipedrive.com/oauth/authorize
          tokenUrl: https://oauth.pipedrive.com/oauth/token
          refreshUrl: https://oauth.pipedrive.com/oauth/token
          scopes:
            base: Read settings of the authorized user and currencies in an account
            deals:read: Read most of the data about deals and related entities - deal fields, products, followers, participants; all notes, files, filters, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            deals:full: Create, read, update and delete deals, its participants and followers; all files, notes, and filters. It also includes read access to deal fields, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            mail:read: Read mail threads and messages
            mail:full: Read, update and delete mail threads. Also grants read access to mail messages
            activities:read: Read activities, its fields and types; all files and filters
            activities:full: Create, read, update and delete activities and all files and filters. Also includes read access to activity fields and types
            contacts:read: Read the data about persons and organizations, their related fields and followers; also all notes, files, filters
            contacts:full: Create, read, update and delete persons and organizations and their followers; all notes, files, filters. Also grants read access to contacts-related fields
            products:read: Read products, its fields, files, followers and products connected to a deal
            products:full: Create, read, update and delete products and its fields; add products to deals
            deal-fields:full: Create, read, update and delete deal fields
            product-fields:full: Create, read, update and delete product fields
            contact-fields:full: Create, read, update and delete person and organization fields
            projects:read: Read projects and its fields, tasks and project templates
            projects:full: Create, read, update and delete projects and its fields; add projects templates and project related tasks
            users:read: Read data about users (people with access to a Pipedrive account), their permissions, roles and followers
            recents:read: Read all recent changes occurred in an account. Includes data about activities, activity types, deals, files, filters, notes, persons, organizations, pipelines, stages, products and users
            search:read: Search across the account for deals, persons, organizations, files and products, and see details about the returned results
            admin: Allows to do many things that an administrator can do in a Pipedrive company account - create, read, update and delete pipelines and its stages; deal, person and organization fields; activity types; users and permissions, etc. It also allows the app to create webhooks and fetch and delete webhooks that are created by the app
            leads:read: Read data about leads and lead labels
            leads:full: Create, read, update and delete leads and lead labels
            phone-integration: Enables advanced call integration features like logging call duration and other metadata, and play call recordings inside Pipedrive
            goals:read: Read data on all goals
            goals:full: Create, read, update and delete goals
            video-calls: Allows application to register as a video call integration provider and create conference links
            messengers-integration: Allows application to register as a messengers integration provider and allows them to deliver incoming messages and their statuses
