openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities Meetings API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: Meetings
  description: 'Meetings API allows integrating video calling apps into Pipedrive through [Video Calling App extension](https://pipedrive.readme.io/docs/video-calling-app-extension). It enables you to manage and interact with your video calls and meetings inside Pipedrive. These endpoints are accessible only through apps with video calls integration [OAuth scope](https://pipedrive.readme.io/docs/marketplace-scopes-and-permissions-explanations).

    '
paths:
  /meetings/userProviderLinks:
    post:
      summary: Link a user with the installed video call integration
      description: A video calling provider must call this endpoint after a user has installed the video calling app so that the new user's information is sent.
      x-token-cost: 10
      operationId: saveUserProviderLink
      tags:
      - Meetings
      security:
      - api_key: []
      - oauth2:
        - video-calls
      requestBody:
        content:
          application/json:
            schema:
              title: addUserProviderLinkRequest
              type: object
              required:
              - user_provider_id
              - user_id
              - company_id
              - marketplace_client_id
              properties:
                user_provider_id:
                  type: string
                  format: uuid
                  example: 1e3943c9-6395-462b-b432-1f252c017f3d
                  description: Unique identifier linking a user to the installed integration. Generated by the integration.
                user_id:
                  type: integer
                  example: 123
                  description: Pipedrive user ID
                company_id:
                  type: integer
                  example: 456
                  description: Pipedrive company ID
                marketplace_client_id:
                  type: string
                  example: 57da5c3c55a82bb4
                  description: Pipedrive Marketplace client ID of the installed integration
      responses:
        '200':
          description: User provider link was successfully created
          content:
            application/json:
              schema:
                title: GetUserProviderLinkSuccessResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: Boolean that indicates whether the request was successful or not
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: The success message of the request
                        example: The user was added successfully
              example:
                success: true
                data:
                  message: The user was added successfully
        '401':
          description: No permission to create user provider link
          content:
            application/json:
              schema:
                title: userProviderLinkErrorResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: Boolean that indicates whether the request was successful or not
                  message:
                    type: string
                    description: The error message of the request
                    example: Missing user id or company id
  /meetings/userProviderLinks/{id}:
    delete:
      summary: Delete the link between a user and the installed video call integration
      description: A video calling provider must call this endpoint to remove the link between a user and the installed video calling app.
      x-token-cost: 6
      operationId: deleteUserProviderLink
      tags:
      - Meetings
      security:
      - api_key: []
      - oauth2:
        - video-calls
      parameters:
      - in: path
        name: id
        description: Unique identifier linking a user to the installed integration
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: User provider link successfully removed
          content:
            application/json:
              schema:
                title: GetUserProviderLinkSuccessResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: Boolean that indicates whether the request was successful or not
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: The success message of the request
                        example: The user was added successfully
              example:
                success: true
                data:
                  message: The user data was successfully removed
        '401':
          description: No permission to remove user provider link
          content:
            application/json:
              schema:
                title: userProviderLinkErrorResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: Boolean that indicates whether the request was successful or not
                  message:
                    type: string
                    description: The error message of the request
                    example: Missing user id or company id
        '403':
          description: Incorrect parameter provided
          content:
            application/json:
              schema:
                title: userProviderLinkErrorResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: Boolean that indicates whether the request was successful or not
                  message:
                    type: string
                    description: The error message of the request
                    example: Missing user id or company id
components:
  securitySchemes:
    basic_authentication:
      type: http
      scheme: basic
      description: Base 64 encoded string containing the `client_id` and `client_secret` values. The header value should be `Basic <base64(client_id:client_secret)>`.
    api_key:
      type: apiKey
      name: x-api-token
      in: header
    oauth2:
      type: oauth2
      description: For more information, see https://pipedrive.readme.io/docs/marketplace-oauth-authorization
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.pipedrive.com/oauth/authorize
          tokenUrl: https://oauth.pipedrive.com/oauth/token
          refreshUrl: https://oauth.pipedrive.com/oauth/token
          scopes:
            base: Read settings of the authorized user and currencies in an account
            deals:read: Read most of the data about deals and related entities - deal fields, products, followers, participants; all notes, files, filters, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            deals:full: Create, read, update and delete deals, its participants and followers; all files, notes, and filters. It also includes read access to deal fields, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            mail:read: Read mail threads and messages
            mail:full: Read, update and delete mail threads. Also grants read access to mail messages
            activities:read: Read activities, its fields and types; all files and filters
            activities:full: Create, read, update and delete activities and all files and filters. Also includes read access to activity fields and types
            contacts:read: Read the data about persons and organizations, their related fields and followers; also all notes, files, filters
            contacts:full: Create, read, update and delete persons and organizations and their followers; all notes, files, filters. Also grants read access to contacts-related fields
            products:read: Read products, its fields, files, followers and products connected to a deal
            products:full: Create, read, update and delete products and its fields; add products to deals
            deal-fields:full: Create, read, update and delete deal fields
            product-fields:full: Create, read, update and delete product fields
            contact-fields:full: Create, read, update and delete person and organization fields
            projects:read: Read projects and its fields, tasks and project templates
            projects:full: Create, read, update and delete projects and its fields; add projects templates and project related tasks
            users:read: Read data about users (people with access to a Pipedrive account), their permissions, roles and followers
            recents:read: Read all recent changes occurred in an account. Includes data about activities, activity types, deals, files, filters, notes, persons, organizations, pipelines, stages, products and users
            search:read: Search across the account for deals, persons, organizations, files and products, and see details about the returned results
            admin: Allows to do many things that an administrator can do in a Pipedrive company account - create, read, update and delete pipelines and its stages; deal, person and organization fields; activity types; users and permissions, etc. It also allows the app to create webhooks and fetch and delete webhooks that are created by the app
            leads:read: Read data about leads and lead labels
            leads:full: Create, read, update and delete leads and lead labels
            phone-integration: Enables advanced call integration features like logging call duration and other metadata, and play call recordings inside Pipedrive
            goals:read: Read data on all goals
            goals:full: Create, read, update and delete goals
            video-calls: Allows application to register as a video call integration provider and create conference links
            messengers-integration: Allows application to register as a messengers integration provider and allows them to deliver incoming messages and their statuses
