openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities Deals API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: Deals
  description: 'Deals represent ongoing, lost or won sales to an organization or to a person. Each deal has a monetary value and must be placed in a stage. Deals can be owned by a user, and followed by one or many users. Each deal consists of standard data fields but can also contain a number of custom fields. The custom fields can be recognized by long hashes as keys. These hashes can be mapped against `DealField.key`. The corresponding label for each such custom field can be obtained from `DealField.name`.

    '
paths:
  /deals/archived:
    get:
      summary: Get all archived deals
      description: Returns all archived deals.
      x-token-cost: 40
      operationId: getArchivedDeals
      deprecated: true
      tags:
      - Deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      parameters:
      - in: query
        name: user_id
        schema:
          type: integer
        description: If supplied, only deals matching the given user will be returned. However, `filter_id` and `owned_by_you` takes precedence over `user_id` when supplied.
      - in: query
        name: filter_id
        schema:
          type: integer
        description: The ID of the filter to use
      - in: query
        name: person_id
        schema:
          type: integer
        description: If supplied, only deals linked to the specified person are returned. If filter_id is provided, this is ignored.
      - in: query
        name: org_id
        schema:
          type: integer
        description: If supplied, only deals linked to the specified organization are returned. If filter_id is provided, this is ignored.
      - in: query
        name: product_id
        schema:
          type: integer
        description: If supplied, only deals linked to the specified product are returned. If filter_id is provided, this is ignored.
      - in: query
        name: pipeline_id
        schema:
          type: integer
        description: If supplied, only deals in the specified pipeline are returned. If filter_id is provided, this is ignored.
      - in: query
        name: stage_id
        schema:
          type: integer
        description: If supplied, only deals in the specified stage are returned. If filter_id is provided, this is ignored.
      - in: query
        name: status
        schema:
          type: string
          default: all_not_deleted
          enum:
          - open
          - won
          - lost
          - deleted
          - all_not_deleted
        description: Only fetch deals with a specific status. If omitted, all not deleted deals are returned. If set to deleted, deals that have been deleted up to 30 days ago will be included.
      - in: query
        name: start
        description: Pagination start
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        description: Items shown per page
        schema:
          type: integer
      - in: query
        name: sort
        schema:
          type: string
        description: The field names and sorting mode separated by a comma (`field_name_1 ASC`, `field_name_2 DESC`). Only first-level field keys are supported (no nested keys).
      - in: query
        name: owned_by_you
        description: When supplied, only deals owned by you are returned. However, `filter_id` takes precedence over `owned_by_you` when both are supplied.
        schema:
          title: numberBoolean
          type: number
          enum:
          - 0
          - 1
      responses:
        '200':
          description: Get all archived deals
          content:
            application/json:
              schema:
                title: GetDealsResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: array
                    items:
                      title: Deal
                      allOf:
                      - type: object
                        properties:
                          id:
                            type: integer
                            description: The ID of the deal
                          creator_user_id:
                            type: object
                            description: The creator of the deal
                            properties:
                              id:
                                type: integer
                                description: The ID of the deal creator
                              name:
                                type: string
                                description: The name of the deal creator
                              email:
                                type: string
                                description: The email of the deal creator
                              has_pic:
                                type: boolean
                                description: If the creator has a picture or not
                              pic_hash:
                                type: string
                                nullable: true
                                description: The creator picture hash
                              active_flag:
                                type: boolean
                                description: Whether the creator is active or not
                              value:
                                type: integer
                                description: The ID of the deal creator
                          user_id:
                            title: dealUserDataWithId
                            allOf:
                            - description: The user who is associated with the deal
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the user
                                name:
                                  type: string
                                  description: The name of the user
                                email:
                                  type: string
                                  description: The email of the user
                                has_pic:
                                  type: boolean
                                  description: If the user has a picture or not
                                pic_hash:
                                  type: string
                                  nullable: true
                                  description: The user picture hash
                                active_flag:
                                  type: boolean
                                  description: Whether the user is active or not
                            - type: object
                              properties:
                                value:
                                  type: integer
                                  description: The ID of the user
                          person_id:
                            title: dealPersonDataWithId
                            allOf:
                            - type: object
                              description: The person who is associated with the deal
                              properties:
                                active_flag:
                                  type: boolean
                                  description: Whether the associated person is active or not
                                name:
                                  type: string
                                  description: The name of the person associated with the deal
                                email:
                                  type: array
                                  description: The emails of the person associated with the deal
                                  items:
                                    type: object
                                    properties:
                                      label:
                                        type: string
                                        description: The type of the email
                                      value:
                                        type: string
                                        description: The email of the associated person
                                      primary:
                                        type: boolean
                                        description: If this is the primary email or not
                                phone:
                                  type: array
                                  description: The phone numbers of the person associated with the deal
                                  items:
                                    type: object
                                    properties:
                                      label:
                                        type: string
                                        description: The type of the phone number
                                      value:
                                        type: string
                                        description: The phone number of the person associated with the deal
                                      primary:
                                        type: boolean
                                        description: If this is the primary phone number or not
                                owner_id:
                                  type: integer
                                  description: The ID of the owner of the person that is associated with the deal
                            - type: object
                              properties:
                                value:
                                  type: integer
                                  description: The ID of the person associated with the deal
                          org_id:
                            title: DealOrganizationDataWithId
                            allOf:
                            - type: object
                              description: The organization which is associated with the deal
                              properties:
                                name:
                                  type: string
                                  description: The name of the organization associated with the deal
                                people_count:
                                  type: integer
                                  description: The number of people connected with the organization that is associated with the deal
                                owner_id:
                                  type: integer
                                  description: The ID of the owner of the organization that is associated with the deal
                                address:
                                  type: string
                                  description: The address of the organization that is associated with the deal
                                active_flag:
                                  type: boolean
                                  description: Whether the associated organization is active or not
                                cc_email:
                                  type: string
                                  description: The BCC email of the organization associated with the deal
                            - type: object
                              properties:
                                value:
                                  type: integer
                                  description: The ID of the organization associated with the deal
                      - title: baseDeal
                        type: object
                        properties:
                          stage_id:
                            type: integer
                            description: The ID of the deal stage
                          title:
                            type: string
                            description: The title of the deal
                          value:
                            type: number
                            description: The value of the deal
                          currency:
                            type: string
                            description: The currency associated with the deal
                          add_time:
                            type: string
                            description: The creation date and time of the deal
                          update_time:
                            type: string
                            description: The last updated date and time of the deal
                          stage_change_time:
                            type: string
                            description: The last updated date and time of the deal stage
                          active:
                            type: boolean
                            description: Whether the deal is active or not
                          deleted:
                            type: boolean
                            description: Whether the deal is deleted or not
                          is_archived:
                            type: boolean
                            description: Whether the deal is archived or not
                          status:
                            type: string
                            description: The status of the deal
                          probability:
                            type: number
                            nullable: true
                            description: The success probability percentage of the deal
                          next_activity_date:
                            type: string
                            description: The date of the next activity associated with the deal
                          next_activity_time:
                            type: string
                            description: The time of the next activity associated with the deal
                          next_activity_id:
                            type: integer
                            nullable: true
                            description: The ID of the next activity associated with the deal
                          last_activity_id:
                            type: integer
                            nullable: true
                            description: The ID of the last activity associated with the deal
                          last_activity_date:
                            type: string
                            nullable: true
                            description: The date of the last activity associated with the deal
                          lost_reason:
                            type: string
                            nullable: true
                            description: The reason for losing the deal
                          visible_to:
                            type: string
                            description: The visibility of the deal
                          close_time:
                            type: string
                            nullable: true
                            description: The date and time of closing the deal
                          pipeline_id:
                            type: integer
                            description: The ID of the pipeline associated with the deal
                          won_time:
                            type: string
                            description: The date and time of changing the deal status as won
                          first_won_time:
                            type: string
                            description: The date and time of the first time changing the deal status as won
                          lost_time:
                            type: string
                            description: The date and time of changing the deal status as lost
                          products_count:
                            type: integer
                            description: The number of products associated with the deal
                          files_count:
                            type: integer
                            description: The number of files associated with the deal
                          notes_count:
                            type: integer
                            description: The number of notes associated with the deal
                          followers_count:
                            type: integer
                            description: The number of followers associated with the deal
                          email_messages_count:
                            type: integer
                            description: The number of emails associated with the deal
                          activities_count:
                            type: integer
                            description: The number of activities associated with the deal
                          done_activities_count:
                            type: integer
                            description: The number of completed activities associated with the deal
                          undone_activities_count:
                            type: integer
                            description: The number of incomplete activities associated with the deal
                          participants_count:
                            type: integer
                            description: The number of participants associated with the deal
                          expected_close_date:
                            type: string
                            format: date
                            description: The expected close date of the deal
                          last_incoming_mail_time:
                            type: string
                            description: The date and time of the last incoming email associated with the deal
                          last_outgoing_mail_time:
                            type: string
                            description: The date and time of the last outgoing email associated with the deal
                          label:
                            type: string
                            description: The label or multiple labels assigned to the deal
                          stage_order_nr:
                            type: integer
                            description: The order number of the deal stage associated with the deal
                          person_name:
                            type: string
                            description: The name of the person associated with the deal
                          org_name:
                            type: string
                            description: The name of the organization associated with the deal
                          next_activity_subject:
                            type: string
                            description: The subject of the next activity associated with the deal
                          next_activity_type:
                            type: string
                            description: The type of the next activity associated with the deal
                          next_activity_duration:
                            type: string
                            description: The duration of the next activity associated with the deal
                          next_activity_note:
                            type: string
                            description: The note of the next activity associated with the deal
                          formatted_value:
                            type: string
                            description: The deal value formatted with selected currency. E.g. US$500
                          weighted_value:
                            type: number
                            description: Probability times deal value. Probability can either be deal probability or if not set, then stage probability.
                          formatted_weighted_value:
                            type: string
                            description: The weighted_value formatted with selected currency. E.g. US$500
                          weighted_value_currency:
                            type: string
                            description: The currency associated with the deal
                          rotten_time:
                            type: string
                            nullable: true
                            description: The date and time of changing the deal status as rotten
                          owner_name:
                            type: string
                            description: The name of the deal owner
                          cc_email:
                            type: string
                            description: The BCC email of the deal
                          org_hidden:
                            type: boolean
                            description: If the organization that is associated with the deal is hidden or not
                          person_hidden:
                            type: boolean
                            description: If the person that is associated with the deal is hidden or not
                          origin:
                            type: string
                            description: The way this Deal was created. `origin` field is set by Pipedrive when Deal is created and cannot be changed.
                          origin_id:
                            type: string
                            nullable: true
                            description: The optional ID to further distinguish the origin of the deal - e.g. Which API integration created this Deal.
                          channel:
                            type: integer
                            nullable: true
                            description: The ID of your Marketing channel this Deal was created from. Recognized Marketing channels can be configured in your <a href="https://app.pipedrive.com/settings/fields" target="_blank" rel="noopener noreferrer">Company settings</a>.
                          channel_id:
                            type: string
                            nullable: true
                            description: The optional ID to further distinguish the Marketing channel.
                          arr:
                            type: number
                            nullable: true
                            description: 'Only available in Growth and above plans


                              The Annual Recurring Revenue of the deal


                              Null if there are no products attached to the deal

                              '
                          mrr:
                            type: number
                            nullable: true
                            description: 'Only available in Growth and above plans


                              The Monthly Recurring Revenue of the deal


                              Null if there are no products attached to the deal

                              '
                          acv:
                            type: number
                            nullable: true
                            description: 'Only available in Growth and above plans


                              The Annual Contract Value of the deal


                              Null if there are no products attached to the deal

                              '
                          arr_currency:
                            type: string
                            nullable: true
                            description: 'Only available in Growth and above plans


                              The Currency for Annual Recurring Revenue of the deal


                              If the `arr` is null, this will also be null

                              '
                          mrr_currency:
                            type: string
                            nullable: true
                            description: 'Only available in Growth and above plans


                              The Currency for Monthly Recurring Revenue of the deal


                              If the `mrr` is null, this will also be null

                              '
                          acv_currency:
                            type: string
                            nullable: true
                            description: 'Only available in Growth and above plans


                              The Currency for Annual Contract Value of the deal


                              If the `acv` is null, this will also be null

                              '
                    description: The array of deals
                  additional_data:
                    description: The additional data of the list
                    type: object
                    properties:
                      start:
                        type: integer
                        description: Pagination start
                      limit:
                        type: integer
                        description: Items shown per page
                      more_items_in_collection:
                        type: boolean
                        description: If there are more list items in the collection than displayed or not
                  related_objects:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          USER_ID:
                            type: object
                            title: userDataWithId
                            allOf:
                            - properties:
                                id:
                                  type: integer
                                  description: The ID of the user
                                name:
                                  type: string
                                  description: The name of the user
                                email:
                                  type: string
                                  description: The email of the user
                                has_pic:
                                  type: integer
                                  description: Whether the user has picture or not. 0 = No picture, 1 = Has picture.
                                pic_hash:
                                  type: string
                                  nullable: true
                                  description: The user picture hash
                                active_flag:
                                  type: boolean
                                  description: Whether the user is active or not
                            - type: object
                              description: The ID of the user
                      organization:
                        type: object
                        title: RelatedOrganizationDataWithActiveFlag
                        properties:
                          ORGANIZATION_ID:
                            type: object
                            title: OrganizationDataWithIdAndActiveFlag
                            description: The ID of the organization associated with the item
                            allOf:
                            - type: object
                              title: OrganizationDataWithIdAndActiveFlagAllOf
                              properties:
                                active_flag:
                                  type: boolean
                                  description: Whether the associated organization is active or not
                            - type: object
                              title: OrganizationDataWithId
                              description: The ID of the organization associated with the item
                              allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the organization that is associated with the item
                                  address:
                                    type: string
                                    nullable: true
                                    description: The address of the organization
                                  cc_email:
                                    type: string
                                    nullable: true
                                    description: The BCC email of the organization associated with the item
                      person:
                        type: object
                        properties:
                          PERSON_ID:
                            type: object
                            description: The ID of the person associated with the item
                            title: PersonDataWithActiveFlag
                            allOf:
                            - type: object
                              properties:
                                active_flag:
                                  type: boolean
                                  description: Whether the associated person is active or not
                            - type: object
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the person associated with the item
                                name:
                                  type: string
                                  description: The name of the person associated with the item
                                email:
                                  type: array
                                  description: The emails of the person associated with the item
                                  items:
                                    type: object
                                    properties:
                                      label:
                                        type: string
                                        description: The type of the email
                                      value:
                                        type: string
                                        description: The email of the associated person
                                      primary:
                                        type: boolean
                                        description: Whether this is the primary email or not
                                phone:
                                  type: array
                                  description: The phone numbers of the person associated with the item
                                  items:
                                    type: object
                                    title: PhoneData
                                    properties:
                                      label:
                                        type: string
                                        description: The type of the phone number
                                      value:
                                        type: string
                                        description: The phone number of the person associated with the item
                                      primary:
                                        type: boolean
                                        description: Whether this is the primary phone number or not
                                owner_id:
                                  type: integer
                                  description: The ID of the owner of the person that is associated with the item
              example:
                success: true
                data:
                - id: 1
                  creator_user_id:
                    id: 8877
                    name: Creator
                    email: john.doe@pipedrive.com
                    has_pic: false
                    pic_hash: null
                    active_flag: true
                    value: 8877
                  user_id:
                    id: 8877
                    name: Creator
                    email: john.doe@pipedrive.com
                    has_pic: false
                    pic_hash: null
                    active_flag: true
                    value: 8877
                  person_id:
                    active_flag: true
                    name: Person
                    email:
                    - label: work
                      value: person@pipedrive.com
                      primary: true
                    phone:
                    - label: work
                      value: '37244499911'
                      primary: true
                    value: 1101
                  org_id:
                    name: Organization
                    people_count: 2
                    owner_id: 8877
                    address: Mustamäe tee 3a, 10615 Tallinn
                    active_flag: true
                    cc_email: org@pipedrivemail.com
                    value: 5
                  stage_id: 2
                  title: Deal One
                  value: 130
                  currency: EUR
                  archive_time: '2019-05-29 04:21:51'
                  add_time: '2019-05-29 04:21:51'
                  update_time: '2019-11-28 16:19:50'
                  stage_change_time: '2019-11-28 15:41:22'
                  active: true
                  deleted: false
                  is_archived: true
                  status: open
                  probability: null
                  next_activity_date: '2019-11-29'
                  next_activity_time: '11:30:00'
                  next_activity_id: 128
                  last_activity_id: null
                  last_activity_date: null
                  lost_reason: null
                  visible_to: '1'
                  close_time: null
                  pipeline_id: 1
                  won_time: '2019-11-27 11:40:36'
                  first_won_time: '2019-11-27 11:40:36'
                  lost_time: '2019-11-27 11:40:36'
                  products_count: 2
                  files_count: 0
                  notes_count: 2
                  followers_count: 0
                  email_messages_count: 4
                  activities_count: 1
                  done_activities_count: 0
                  undone_activities_count: 1
                  participants_count: 1
                  expected_close_date: '2019-06-29'
                  last_incoming_mail_time: '2019-05-29 18:21:42'
                  last_outgoing_mail_time: '2019-05-30 03:45:35'
                  label: '11'
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  stage_order_nr: 2
                  person_name: Person
                  org_name: Organization
                  next_activity_subject: Call
                  next_activity_type: call
                  next_activity_duration: 00:30:00
                  next_activity_note: Note content
                  formatted_value: €5,000
                  weighted_value: 5000
                  formatted_weighted_value: €5,000
                  weighted_value_currency: EUR
                  rotten_time: null
                  owner_name: Creator
                  cc_email: company+deal1@pipedrivemail.com
                  org_hidden: false
                  person_hidden: false
                  acv: 120
                  arr: 120
                  mrr: 10
                  acv_currency: EUR
                  arr_currency: EUR
                  mrr_currency: EUR
                related_objects:
                  user:
                    '8877':
                      id: 8877
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      active_flag: true
                      id: 1101
                      name: Person
                      email:
                      - label: work
                        value: person@pipedrive.com
                        primary: true
                      phone:
                      - label: work
                        value: '3421787767'
                        primary: true
                      owner_id: 8877
                  stage:
                    '2':
                      id: 2
                      company_id: 123
                      order_nr: 1
                      name: Stage Name
                      active_flag: true
                      deal_probability: 100
                      pipeline_id: 1
                      rotten_flag: false
                      rotten_days: null
                      add_time: '2015-12-08 13:54:06'
                      update_time: '2015-12-08 13:54:06'
                      pipeline_name: Pipeline
                      pipeline_deal_probability: true
                  pipeline:
                    '1':
                      id: 1
                      name: Pipeline
                      url_title: Pipeline
                      order_nr: 0
                      active: true
                      deal_probability: true
                      add_time: '2015-12-08 10:00:24'
                      update_time: '2015-12-08 10:00:24'
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
                    next_start: 1
  /deals/summary:
    get:
      summary: Get deals summary
      description: Returns a summary of all not archived deals.
      x-token-cost: 40
      operationId: getDealsSummary
      tags:
      - Deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      parameters:
      - in: query
        name: status
        schema:
          type: string
          enum:
          - open
          - won
          - lost
        description: Only fetch deals with a specific status. open = Open, won = Won, lost = Lost.
      - in: query
        name: filter_id
        schema:
          type: integer
        description: <code>user_id</code> will not be considered. Only deals matching the given filter will be returned.
      - in: query
        name: user_id
        schema:
          type: integer
        description: Only deals matching the given user will be returned. `user_id` will not be considered if you use `filter_id`.
      - in: query
        name: pipeline_id
        schema:
          type: integer
        description: Only deals within the given pipeline will be returned
      - in: query
        name: stage_id
        schema:
          type: integer
        description: Only deals within the given stage will be returned
      responses:
        '200':
          description: Get the summary of not archived deals
          content:
            application/json:
              schema:
                title: GetDealsSummaryResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: object
                    description: The summary of deals
                    properties:
                      values_total:
                        type: object
                        description: The total values of the deals grouped by deal currency
                        properties:
                          value:
                            type: number
                            description: The total value of deals in the deal currency group
                          count:
                            type: integer
                            description: The number of deals in the deal currency group
                          value_converted:
                            type: number
                            description: The total value of deals converted into the company default currency
                          value_formatted:
                            type: string
                            description: The total value of deals formatted with deal currency. E.g. €50
                          value_converted_formatted:
                            type: string
                            description: The value_converted formatted with deal currency. E.g. US$50.10
                      weighted_values_total:
                        type: object
                        description: The total weighted values of the deals grouped by deal currency. The weighted value is calculated as probability times deal value.
                        properties:
                          value:
                            type: number
                            description: The total weighted value of the deals in the deal currency group
                          count:
                            type: integer
                            description: The number of deals in the deal currency group
                          value_formatted:
                            type: string
                            description: The total weighted value of the deals formatted with deal currency. E.g. €50
                      total_count:
                        type: integer
                        description: The total number of deals
                      total_currency_converted_value:
                        type: number
                        description: The total value of deals converted into the company default currency
                      total_weighted_currency_converted_value:
                        type: number
                        description: The total weighted value of deals converted into the company default currency
                      total_currency_converted_value_formatted:
                        type: string
                        description: The total converted value of deals formatted with the company default currency. E.g. US$5,100.96
                      total_weighted_currency_converted_value_formatted:
                        type: string
                        description: The total weighted value of deals formatted with the company default currency. E.g. US$5,100.96
              example:
                success: true
                data:
                  values_total:
                    EUR:
                      value: 10
                      count: 2
                      value_converted: 11.1
                      value_formatted: €10
                      value_converted_formatted: US$11.10
                    USD:
                      value: 30
                      count: 3
                      value_converted: 30
                      value_formatted: US$30
                      value_converted_formatted: US$3
                  weighted_values_total:
                    EUR:
                      value: 10
                      count: 2
                      value_formatted: €10
                    USD:
                      value: 30
                      count: 3
                      value_formatted: US$30
                  total_count: 5
                  total_currency_converted_value: 41.1
                  total_weighted_currency_converted_value: 41.1
                  total_currency_converted_value_formatted: US$41.1
                  total_weighted_currency_converted_value_formatted: US$41.1
  /deals/summary/archived:
    get:
      summary: Get archived deals summary
      description: Returns a summary of all archived deals.
      x-token-cost: 80
      operationId: getArchivedDealsSummary
      deprecated: true
      tags:
      - Deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      parameters:
      - in: query
        name: status
        schema:
          type: string
          enum:
          - open
          - won
          - lost
        description: Only fetch deals with a specific status. open = Open, won = Won, lost = Lost.
      - in: query
        name: filter_id
        schema:
          type: integer
        description: <code>user_id</code> will not be considered. Only deals matching the given filter will be returned.
      - in: query
        name: user_id
        schema:
          type: integer
        description: Only deals matching the given user will be returned. `user_id` will not be considered if you use `filter_id`.
      - in: query
        name: pipeline_id
        schema:
          type: integer
        description: Only deals within the given pipeline will be returned
      - in: query
        name: stage_id
        schema:
          type: integer
        description: Only deals within the given stage will be returned
      responses:
        '200':
          description: Get the summary of archived deals
          content:
            application/json:
              schema:
                title: GetDealsSummaryResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: object
                    description: The summary of deals
                    properties:
                      values_total:
                        type: object
                        description: The total values of the deals grouped by deal currency
                        properties:
                          value:
                            type: number
                            description: The total value of deals in the deal currency group
                          count:
                            type: integer
                            description: The number of deals in the deal currency group
                          value_converted:
                            type: number
                            description: The total value of deals converted into the company default currency
                          value_formatted:
                            type: string
                            description: The total value of deals formatted with deal currency. E.g. €50
                          value_converted_formatted:
                            type: string
                            description: The value_converted formatted with deal currency. E.g. US$50.10
                      weighted_values_total:
                        type: object
                        description: The total weighted values of the deals grouped by deal currency. The weighted value is calculated as probability times deal value.
                        properties:
                          value:
                            type: number
                            description: The total weighted value of the deals in the deal currency group
                          count:
                            type: integer
                            description: The number of deals in the deal currency group
                          value_formatted:
                            type: string
                            description: The total weighted value of the deals formatted with deal currency. E.g. €50
                      total_count:
                        type: integer
                        description: The total number of deals
                      total_currency_converted_value:
                        type: number
                        description: The total value of deals converted into the company default currency
                      total_weighted_currency_converted_value:
                        type: number
                        description: The total weighted value of deals converted into the company default currency
                      total_currency_converted_value_formatted:
                        type: string
                        description: The total converted value of deals formatted with the company default currency. E.g. US$5,100.96
                      total_weighted_currency_converted_value_formatted:
                        type: string
                        description: The total weighted value of deals formatted with the company default currency. E.g. US$5,100.96
              example:
                success: true
                data:
                  values_total:
                    EUR:
                      value: 10
                      count: 2
                      value_converted: 11.1
                      value_formatted: €10
                      value_converted_formatted: US$11.10
                    USD:
                      value: 30
                      count: 3
                      value_converted: 30
                      value_formatted: US$30
                      value_converted_formatted: US$3
                  weighted_values_total:
                    EUR:
                      value: 10
                      count: 2
                      value_formatted: €10
                    USD:
                      value: 30
                      count: 3
                      value_formatted: US$30
                  total_count: 5
                  total_currency_converted_value: 41.1
                  total_weighted_currency_converted_value: 41.1
                  total_currency_converted_value_formatted: US$41.1
                  total_weighted_currency_converted_value_formatted: US$41.1
  /deals/timeline:
    get:
      summary: Get deals timeline
      description: Returns not archived open and won deals, grouped by a defined interval of time set in a date-type dealField (`field_key`) — e.g. when month is the chosen interval, and 3 months are asked starting from January 1st, 2012, deals are returned grouped into 3 groups — January, February and March — based on the value of the given `field_key`.
      x-token-cost: 20
      operationId: getDealsTimeline
      tags:
      - Deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      parameters:
      - in: query
        name: start_date
        required: true
        schema:
          type: string
          format: date
        description: 'The date when the first interval starts. Format: YYYY-MM-DD.'
      - in: query
        name: interval
        required: true
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - quarter
        description: The type of the interval<table><tr><th>Value</th><th>Description</th></tr><tr><td>`day`</td><td>Day</td></tr><tr><td>`week`</td><td>A full week (7 days) starting from `start_date`</td></tr><tr><td>`month`</td><td>A full month (depending on the number of days in given month) starting from `start_date`</td></tr><tr><td>`quarter`</td><td>A full quarter (3 months) starting from `start_date`</td></tr></table>
      - in: query
        name: amount
        required: true
        schema:
          type: integer
        description: The number of given intervals, starting from `start_date`, to fetch. E.g. 3 (months).
      - in: query
        name: field_key
        required: true
        schema:
          type: string
        description: The date field key which deals will be retrieved from
      - in: query
        name: user_id
        schema:
          type: integer
        description: If supplied, only deals matching the given user will be returned
      - in: query
        name: pipeline_id
        schema:
          type: integer
        description: If supplied, only deals matching the given pipeline will be returned
      - in: query
        name: filter_id
        schema:
          type: integer
        description: If supplied, only deals matching the given filter will be returned
      - in: query
        name: exclude_deals
        schema:
          title: numberBoolean
          type: number
          enum:
          - 0
          - 1
        description: Whether to exclude deals list (1) or not (0). Note that when deals are excluded, the timeline summary (counts and values) is still returned.
      - in: query
        name: totals_convert_currency
        schema:
          type: string
        description: The 3-letter currency code of any of the supported currencies. When supplied, `totals_converted` is returned per each interval which contains the currency-converted total amounts in the given currency. You may also set this parameter to `default_currency` in which case the user's default currency is used.
      responses:
        '200':
          description: Get open and won deals, grouped by the defined interval of time
          content:
            application/json:
              schema:
                title: GetDealsTimelineResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: object
                    description: Open and won deals grouped into periods by defined interval, amount and date-type dealField (`field_key`)
                    properties:
                      period_start:
                        type: string
                        description: The start date and time of the period
                      period_end:
                        type: string
                        description: The end date and time of the period
                      deals:
                        type: array
                        items:
                          title: DealStrict
                          allOf:
                          - type: object
                            properties:
                              id:
                                type: integer
                                description: The ID of the deal
                              creator_user_id:
                                type: integer
                                description: The ID of the deal creator
                              user_id:
                                type: integer
                                description: The ID of the user
                              person_id:
                                type: integer
                                description: The ID of the person associated with the deal
                              org_id:
                                type: integer
                                description: The ID of the organization associated with the deal
                          - title: baseDeal
                            type: object
                            properties:
                              stage_id:
                                type: integer
                                description: The ID of the deal stage
                              title:
                                type: string
                                description: The title of the deal
                              value:
                                type: number
                                description: The value of the deal
                              currency:
                                type: string
                                description: The currency associated with the deal
                              add_time:
                                type: string
                                description: The creation date and time of the deal
                              update_time:
                                type: string
                                description: The last updated date and time of the deal
                              stage_change_time:
                                type: string
                                description: The last updated date and time of the deal stage
                              active:
                                type: boolean
                                description: Whether the deal is active or not
                              deleted:
                                type: boolean
                                description: Whether the deal is deleted or not
                              is_archived:
                                type: boolean
                                description: Whether the deal is archived or not
                              status:
                                type: string
                                description: The status of the deal
                              probability:
                                type: number
                                nullable: true
                                description: The success probability percentage of the deal
                              next_activity_date:
                                type: string
                                description: The date of the next activity associated with the deal
                              next_activity_time:
                                type: string
                                description: The time of the next activity associated with the deal
                              next_activity_id:
                                type: integer
                                nullable: true
                                description: The ID of the next activity associated with the deal
                              last_activity_id:
                                type: integer
                                nullable: true
                                description: The ID of the last activity associated with the deal
                              last_activity_date:
                                type: string
                                nullable: true
                                description: The date of the last activity associated with the deal
                              lost_reason:
                                type: string
                                nullable: true
                                description: The reason for losing the deal
                              visible_to:
                                type: string
                                description: The visibility of the deal
                              close_time:
                                type: string
                                nullable: true
                                description: The date and time of closing the deal
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline associated with the deal
                              won_time:
                                type: string
                                description: The date and time of changing the deal status as won
                              first_won_time:
                                type: string
                                description: The date and time of the first time changing the deal status as won
                              lost_time:
                                type: string
                                description: The date and time of changing the deal status as lost
                              products_count:
                                type: integer
                                description: The number of products associated with the deal
                              files_count:
                                type: integer
                                description: The number of files associated with the deal
                              notes_count:
                                type: integer
                                description: The number of notes associated with the deal
                              followers_count:
                                type: integer
                                description: The number of followers associated with the deal
                              email_messages_count:
                                type: integer
                                description: The number of emails associated with the deal
                              activities_count:
                                type: integer
                                description: The number of activities associated with the deal
                              done_activities_count:
                                type: integer
                                description: The number of completed activities associated with the deal
                              undone_activities_count:
                                type: integer
                                description: The number of incomplete activities associated with the deal
                              participants_count:
                                type: integer
                                description: The number of participants associated with the deal
                              expected_close_date:
                                type: string
                                format: date
                                description: The expected close date of the deal
                              last_incoming_mail_time:
                                type: string
                                description: The date and time of the last incoming email associated with the deal
                              last_outgoing_mail_time:
                                type: string
                                description: The date and time of the last outgoing email associated with the deal
                              label:
                                type: string
                                description: The label or multiple labels assigned to the deal
                              stage_order_nr:
                                type: integer
                                description: The order number of the deal stage associated with the deal
                              person_name:
                                type: string
                                description: The name of the person associated with the deal
                              org_name:
                                type: string
                                description: The name of the organization associated with the deal
                              next_activity_subject:
                                type: string
                                description: The subject of the next activity associated with the deal
                              next_activity_type:
                                type: string
                                description: The type of the next activity associated with the deal
                              next_activity_duration:
                                type: string
                                description: The duration of the next activity associated with the deal
                              next_activity_note:
                                type: string
                                description: The note of the next activity associated with the deal
                              formatted_value:
                                type: string
                                description: The deal value formatted with selected currency. E.g. US$500
                              weighted_value:
                                type: number
                                description: Probability times deal value. Probability can either be deal probability or if not set, then stage probability.
                              formatted_weighted_value:
                                type: string
                                description: The weighted_value formatted with selected currency. E.g. US$500
                              weighted_value_currency:
                                type: string
                                description: The currency associated with the deal
                              rotten_time:
                                type: string
                                nullable: true
                                description: The date and time of changing the deal status as rotten
                              owner_name:
                                type: string
                                description: The name of the deal owner
                              cc_email:
                                type: string
                                description: The BCC email of the deal
                              org_hidden:
                                type: boolean
                                description: If the organization that is associated with the deal is hidden or not
                              person_hidden:
                                type: boolean
                                description: If the person that is associated with the deal is hidden or not
                              origin:
                                type: string
                                description: The way this Deal was created. `origin` field is set by Pipedrive when Deal is created and cannot be changed.
                              origin_id:
                                type: string
                                nullable: true
                                description: The optional ID to further distinguish the origin of the deal - e.g. Which API integration created this Deal.
                              channel:
                                type: integer
                                nullable: true
                                description: The ID of your Marketing channel this Deal was created from. Recognized Marketing channels can be configured in your <a href="https://app.pipedrive.com/settings/fields" target="_blank" rel="noopener noreferrer">Company settings</a>.
                              channel_id:
                                type: string
                                nullable: true
                                description: The optional ID to further distinguish the Marketing channel.
                              arr:
                                type: number
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Annual Recurring Revenue of the deal


                                  Null if there are no products attached to the deal

                                  '
                              mrr:
                                type: number
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Monthly Recurring Revenue of the deal


                                  Null if there are no products attached to the deal

                                  '
                              acv:
                                type: number
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Annual Contract Value of the deal


                                  Null if there are no products attached to the deal

                                  '
                              arr_currency:
                                type: string
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Currency for Annual Recurring Revenue of the deal


                                  If the `arr` is null, this will also be null

                                  '
                              mrr_currency:
                                type: string
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Currency for Monthly Recurring Revenue of the deal


                                  If the `mrr` is null, this will also be null

                                  '
                              acv_currency:
                                type: string
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Currency for Annual Contract Value of the deal


                                  If the `acv` is null, this will also be null

                                  '
                      totals:
                        type: object
                        description: The total values of deals for the given period
                        properties:
                          count:
                            type: integer
                            description: The number of deals for the given period
                          values:
                            type: object
                            description: The total values of deals grouped by deal currency
                          weighted_values:
                            type: object
                            description: The total weighted values of deals for the given period grouped by deal currency. The weighted value of a deal is calculated as probability times deal value.
                          open_count:
                            type: integer
                            description: The number of open deals for the given period
                          open_values:
                            type: object
                            description: The total values of open deals for the given period grouped by deal currency
                          weighted_open_values:
                            type: object
                            description: The total weighted values of open deals for the given period grouped by deal currency. The weighted value of a deal is calculated as probability times deal value.
                          won_count:
                            type: integer
                            description: The number of won deals for the given period
                          won_values:
                            type: object
                            description: The total values of won deals for the given period grouped by deal currency
              example:
                success: true
                data:
                  period_start: '2019-12-01 00:00:00'
                  period_end: '2019-12-31 23:59:59'
                  deals:
                  - id: 1
                    creator_user_id: 8877
                    user_id: 8877
                    person_id: 1101
                    org_id: 5
                    stage_id: 2
                    title: Deal One
                    value: 5000
                    currency: EUR
                    archive_time: null
                    add_time: '2019-05-29 04:21:51'
                    update_time: '2019-11-28 16:19:50'
                    stage_change_time: '2019-11-28 15:41:22'
                    active: true
                    deleted: false
                    is_archived: false
                    status: open
                    probability: null
                    next_activity_date: '2019-11-29'
                    next_activity_time: '11:30:00'
                    next_activity_id: 128
                    last_activity_id: null
                    last_activity_date: null
                    lost_reason: null
                    visible_to: '1'
                    close_time: null
                    pipeline_id: 1
                    won_time: '2019-11-27 11:40:36'
                    first_won_time: '2019-11-27 11:40:36'
                    lost_time: ''
                    products_count: 0
                    files_count: 0
                    notes_count: 2
                    followers_count: 0
                    email_messages_count: 4
                    activities_count: 1
                    done_activities_count: 0
                    undone_activities_count: 1
                    participants_count: 1
                    expected_close_date: '2019-06-29'
                    last_incoming_mail_time: '2019-05-29 18:21:42'
                    last_outgoing_mail_time: '2019-05-30 03:45:35'
                    label: '11'
                    stage_order_nr: 2
                    person_name: Person
                    org_name: Organization
                    next_activity_subject: Call
                    next_activity_type: call
                    next_activity_duration: 00:30:00
                    next_activity_note: Note content
                    formatted_value: €5,000
                    weighted_value: 5000
                    formatted_weighted_value: €5,000
                    weighted_value_currency: EUR
                    rotten_time: null
                    owner_name: Creator
                    cc_email: company+deal1@pipedrivemail.com
                    org_hidden: false
                    person_hidden: false
                    acv: null
                    arr: null
                    mrr: null
                    acv_currency: null
                    arr_currency: null
                    mrr_currency: null
                  totals:
                    count: 2
                    values:
                      EUR: 100
                      USD: 220
                    weighted_values:
                      EUR: 100
                      USD: 2200
                    open_count: 1
                    open_values:
                      EUR: 100
                    weighted_open_values:
                      EUR: 100
                    won_count: 1
                    won_values:
                      USD: 2200
  /deals/timeline/archived:
    get:
      summary: Get archived deals timeline
      description: Returns archived open and won deals, grouped by a defined interval of time set in a date-type dealField (`field_key`) — e.g. when month is the chosen interval, and 3 months are asked starting from January 1st, 2012, deals are returned grouped into 3 groups — January, February and March — based on the value of the given `field_key`.
      x-token-cost: 40
      operationId: getArchivedDealsTimeline
      deprecated: true
      tags:
      - Deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      parameters:
      - in: query
        name: start_date
        required: true
        schema:
          type: string
          format: date
        description: 'The date when the first interval starts. Format: YYYY-MM-DD.'
      - in: query
        name: interval
        required: true
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - quarter
        description: The type of the interval<table><tr><th>Value</th><th>Description</th></tr><tr><td>`day`</td><td>Day</td></tr><tr><td>`week`</td><td>A full week (7 days) starting from `start_date`</td></tr><tr><td>`month`</td><td>A full month (depending on the number of days in given month) starting from `start_date`</td></tr><tr><td>`quarter`</td><td>A full quarter (3 months) starting from `start_date`</td></tr></table>
      - in: query
        name: amount
        required: true
        schema:
          type: integer
        description: The number of given intervals, starting from `start_date`, to fetch. E.g. 3 (months).
      - in: query
        name: field_key
        required: true
        schema:
          type: string
        description: The date field key which deals will be retrieved from
      - in: query
        name: user_id
        schema:
          type: integer
        description: If supplied, only deals matching the given user will be returned
      - in: query
        name: pipeline_id
        schema:
          type: integer
        description: If supplied, only deals matching the given pipeline will be returned
      - in: query
        name: filter_id
        schema:
          type: integer
        description: If supplied, only deals matching the given filter will be returned
      - in: query
        name: exclude_deals
        schema:
          title: numberBoolean
          type: number
          enum:
          - 0
          - 1
        description: Whether to exclude deals list (1) or not (0). Note that when deals are excluded, the timeline summary (counts and values) is still returned.
      - in: query
        name: totals_convert_currency
        schema:
          type: string
        description: The 3-letter currency code of any of the supported currencies. When supplied, `totals_converted` is returned per each interval which contains the currency-converted total amounts in the given currency. You may also set this parameter to `default_currency` in which case the user's default currency is used.
      responses:
        '200':
          description: Get open and won deals, grouped by the defined interval of time
          content:
            application/json:
              schema:
                title: GetDealsTimelineResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: object
                    description: Open and won deals grouped into periods by defined interval, amount and date-type dealField (`field_key`)
                    properties:
                      period_start:
                        type: string
                        description: The start date and time of the period
                      period_end:
                        type: string
                        description: The end date and time of the period
                      deals:
                        type: array
                        items:
                          title: DealStrict
                          allOf:
                          - type: object
                            properties:
                              id:
                                type: integer
                                description: The ID of the deal
                              creator_user_id:
                                type: integer
                                description: The ID of the deal creator
                              user_id:
                                type: integer
                                description: The ID of the user
                              person_id:
                                type: integer
                                description: The ID of the person associated with the deal
                              org_id:
                                type: integer
                                description: The ID of the organization associated with the deal
                          - title: baseDeal
                            type: object
                            properties:
                              stage_id:
                                type: integer
                                description: The ID of the deal stage
                              title:
                                type: string
                                description: The title of the deal
                              value:
                                type: number
                                description: The value of the deal
                              currency:
                                type: string
                                description: The currency associated with the deal
                              add_time:
                                type: string
                                description: The creation date and time of the deal
                              update_time:
                                type: string
                                description: The last updated date and time of the deal
                              stage_change_time:
                                type: string
                                description: The last updated date and time of the deal stage
                              active:
                                type: boolean
                                description: Whether the deal is active or not
                              deleted:
                                type: boolean
                                description: Whether the deal is deleted or not
                              is_archived:
                                type: boolean
                                description: Whether the deal is archived or not
                              status:
                                type: string
                                description: The status of the deal
                              probability:
                                type: number
                                nullable: true
                                description: The success probability percentage of the deal
                              next_activity_date:
                                type: string
                                description: The date of the next activity associated with the deal
                              next_activity_time:
                                type: string
                                description: The time of the next activity associated with the deal
                              next_activity_id:
                                type: integer
                                nullable: true
                                description: The ID of the next activity associated with the deal
                              last_activity_id:
                                type: integer
                                nullable: true
                                description: The ID of the last activity associated with the deal
                              last_activity_date:
                                type: string
                                nullable: true
                                description: The date of the last activity associated with the deal
                              lost_reason:
                                type: string
                                nullable: true
                                description: The reason for losing the deal
                              visible_to:
                                type: string
                                description: The visibility of the deal
                              close_time:
                                type: string
                                nullable: true
                                description: The date and time of closing the deal
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline associated with the deal
                              won_time:
                                type: string
                                description: The date and time of changing the deal status as won
                              first_won_time:
                                type: string
                                description: The date and time of the first time changing the deal status as won
                              lost_time:
                                type: string
                                description: The date and time of changing the deal status as lost
                              products_count:
                                type: integer
                                description: The number of products associated with the deal
                              files_count:
                                type: integer
                                description: The number of files associated with the deal
                              notes_count:
                                type: integer
                                description: The number of notes associated with the deal
                              followers_count:
                                type: integer
                                description: The number of followers associated with the deal
                              email_messages_count:
                                type: integer
                                description: The number of emails associated with the deal
                              activities_count:
                                type: integer
                                description: The number of activities associated with the deal
                              done_activities_count:
                                type: integer
                                description: The number of completed activities associated with the deal
                              undone_activities_count:
                                type: integer
                                description: The number of incomplete activities associated with the deal
                              participants_count:
                                type: integer
                                description: The number of participants associated with the deal
                              expected_close_date:
                                type: string
                                format: date
                                description: The expected close date of the deal
                              last_incoming_mail_time:
                                type: string
                                description: The date and time of the last incoming email associated with the deal
                              last_outgoing_mail_time:
                                type: string
                                description: The date and time of the last outgoing email associated with the deal
                              label:
                                type: string
                                description: The label or multiple labels assigned to the deal
                              stage_order_nr:
                                type: integer
                                description: The order number of the deal stage associated with the deal
                              person_name:
                                type: string
                                description: The name of the person associated with the deal
                              org_name:
                                type: string
                                description: The name of the organization associated with the deal
                              next_activity_subject:
                                type: string
                                description: The subject of the next activity associated with the deal
                              next_activity_type:
                                type: string
                                description: The type of the next activity associated with the deal
                              next_activity_duration:
                                type: string
                                description: The duration of the next activity associated with the deal
                              next_activity_note:
                                type: string
                                description: The note of the next activity associated with the deal
                              formatted_value:
                                type: string
                                description: The deal value formatted with selected currency. E.g. US$500
                              weighted_value:
                                type: number
                                description: Probability times deal value. Probability can either be deal probability or if not set, then stage probability.
                              formatted_weighted_value:
                                type: string
                                description: The weighted_value formatted with selected currency. E.g. US$500
                              weighted_value_currency:
                                type: string
                                description: The currency associated with the deal
                              rotten_time:
                                type: string
                                nullable: true
                                description: The date and time of changing the deal status as rotten
                              owner_name:
                                type: string
                                description: The name of the deal owner
                              cc_email:
                                type: string
                                description: The BCC email of the deal
                              org_hidden:
                                type: boolean
                                description: If the organization that is associated with the deal is hidden or not
                              person_hidden:
                                type: boolean
                                description: If the person that is associated with the deal is hidden or not
                              origin:
                                type: string
                                description: The way this Deal was created. `origin` field is set by Pipedrive when Deal is created and cannot be changed.
                              origin_id:
                                type: string
                                nullable: true
                                description: The optional ID to further distinguish the origin of the deal - e.g. Which API integration created this Deal.
                              channel:
                                type: integer
                                nullable: true
                                description: The ID of your Marketing channel this Deal was created from. Recognized Marketing channels can be configured in your <a href="https://app.pipedrive.com/settings/fields" target="_blank" rel="noopener noreferrer">Company settings</a>.
                              channel_id:
                                type: string
                                nullable: true
                                description: The optional ID to further distinguish the Marketing channel.
                              arr:
                                type: number
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Annual Recurring Revenue of the deal


                                  Null if there are no products attached to the deal

                                  '
                              mrr:
                                type: number
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Monthly Recurring Revenue of the deal


                                  Null if there are no products attached to the deal

                                  '
                              acv:
                                type: number
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Annual Contract Value of the deal


                                  Null if there are no products attached to the deal

                                  '
                              arr_currency:
                                type: string
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Currency for Annual Recurring Revenue of the deal


                                  If the `arr` is null, this will also be null

                                  '
                              mrr_currency:
                                type: string
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Currency for Monthly Recurring Revenue of the deal


                                  If the `mrr` is null, this will also be null

                                  '
                              acv_currency:
                                type: string
                                nullable: true
                                description: 'Only available in Growth and above plans


                                  The Currency for Annual Contract Value of the deal


                                  If the `acv` is null, this will also be null

                                  '
                      totals:
                        type: object
                        description: The total values of deals for the given period
                        properties:
                          count:
                            type: integer
                            description: The number of deals for the given period
                          values:
                            type: object
                            description: The total values of deals grouped by deal currency
                          weighted_values:
                            type: object
                            description: The total weighted values of deals for the given period grouped by deal currency. The weighted value of a deal is calculated as probability times deal value.
                          open_count:
                            type: integer
                            description: The number of open deals for the given period
                          open_values:
                            type: object
                            description: The total values of open deals for the given period grouped by deal currency
                          weighted_open_values:
                            type: object
                            description: The total weighted values of open deals for the given period grouped by deal currency. The weighted value of a deal is calculated as probability times deal value.
                          won_count:
                            type: integer
                            description: The number of won deals for the given period
                          won_values:
                            type: object
                            description: The total values of won deals for the given period grouped by deal currency
              example:
                success: true
                data:
                  period_start: '2019-12-01 00:00:00'
                  period_end: '2019-12-31 23:59:59'
                  deals:
                  - id: 1
                    creator_user_id: 8877
                    user_id: 8877
                    person_id: 1101
                    org_id: 5
                    stage_id: 2
                    title: Deal One
                    value: 5000
                    currency: EUR
                    archive_time: '2019-05-29 04:21:51'
                    add_time: '2019-05-29 04:21:51'
                    update_time: '2019-11-28 16:19:50'
                    stage_change_time: '2019-11-28 15:41:22'
                    active: true
                    deleted: false
                    is_archived: true
                    status: open
                    probability: null
                    next_activity_date: '2019-11-29'
                    next_activity_time: '11:30:00'
                    next_activity_id: 128
                    last_activity_id: null
                    last_activity_date: null
                    lost_reason: null
                    visible_to: '1'
                    close_time: null
                    pipeline_id: 1
                    won_time: '2019-11-27 11:40:36'
                    first_won_time: '2019-11-27 11:40:36'
                    lost_time: ''
                    products_count: 0
                    files_count: 0
                    notes_count: 2
                    followers_count: 0
                    email_messages_count: 4
                    activities_count: 1
                    done_activities_count: 0
                    undone_activities_count: 1
                    participants_count: 1
                    expected_close_date: '2019-06-29'
                    last_incoming_mail_time: '2019-05-29 18:21:42'
                    last_outgoing_mail_time: '2019-05-30 03:45:35'
                    label: '11'
                    stage_order_nr: 2
                    person_name: Person
                    org_name: Organization
                    next_activity_subject: Call
                    next_activity_type: call
                    next_activity_duration: 00:30:00
                    next_activity_note: Note content
                    formatted_value: €5,000
                    weighted_value: 5000
                    formatted_weighted_value: €5,000
                    weighted_value_currency: EUR
                    rotten_time: null
                    owner_name: Creator
                    cc_email: company+deal1@pipedrivemail.com
                    org_hidden: false
                    person_hidden: false
                    acv: null
                    arr: null
                    mrr: null
                    acv_currency: null
[...]
