openapi: 3.0.1
info:
  title: Pipedrive API v1 Activities ActivityFields API
  version: 1.0.0
  description: 'Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.

    '
servers:
- url: https://api.pipedrive.com/v1
tags:
- name: ActivityFields
  description: 'Activity fields represent different fields that an activity has.

    '
paths:
  /activityFields:
    get:
      summary: Get all activity fields
      description: Returns all activity fields.
      x-token-cost: 20
      operationId: getActivityFields
      tags:
      - ActivityFields
      security:
      - api_key: []
      - oauth2:
        - activities:read
        - activities:full
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: GetFieldsResponse
                allOf:
                - title: baseResponse
                  type: object
                  properties:
                    success:
                      type: boolean
                      description: If the response is successful or not
                - title: FieldsResponse
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        title: GetField
                        allOf:
                        - title: Field
                          type: object
                          properties:
                            id:
                              type: integer
                              nullable: true
                              description: The ID of the field. Value is `null` in case of subfields.
                            key:
                              type: string
                              description: The key of the field. For custom fields this is generated upon creation.
                            name:
                              type: string
                              description: The name of the field
                            order_nr:
                              type: integer
                              description: The order number of the field
                            field_type:
                              allOf:
                              - type: string
                                enum:
                                - address
                                - date
                                - daterange
                                - double
                                - enum
                                - monetary
                                - org
                                - people
                                - phone
                                - set
                                - text
                                - time
                                - timerange
                                - user
                                - varchar
                                - varchar_auto
                                - visible_to
                                description: The type of the field<table><tr><th>Value</th><th>Description</th></tr><tr><td>`address`</td><td>Address field</td></tr><tr><td>`date`</td><td>Date (format YYYY-MM-DD)</td></tr><tr><td>`daterange`</td><td>Date-range field (has a start date and end date value, both YYYY-MM-DD)</td></tr><tr><td>`double`</td><td>Numeric value</td></tr><tr><td>`enum`</td><td>Options field with a single possible chosen option</td></tr><tr></tr><tr><td>`monetary`</td><td>Monetary field (has a numeric value and a currency value)</td></tr><tr><td>`org`</td><td>Organization field (contains an organization ID which is stored on the same account)</td></tr><tr><td>`people`</td><td>Person field (contains a person ID which is stored on the same account)</td></tr><tr><td>`phone`</td><td>Phone field (up to 255 numbers and/or characters)</td></tr><tr><td>`set`</td><td>Options field with a possibility of having multiple chosen options</td></tr><tr><td>`text`</td><td>Long text (up to 65k characters)</td></tr><tr><td>`time`</td><td>Time field (format HH:MM:SS)</td></tr><tr><td>`timerange`</td><td>Time-range field (has a start time and end time value, both HH:MM:SS)</td></tr><tr><td>`user`</td><td>User field (contains a user ID of another Pipedrive user)</td></tr><tr><td>`varchar`</td><td>Text (up to 255 characters)</td></tr><tr><td>`varchar_auto`</td><td>Autocomplete text (up to 255 characters)</td></tr><tr><td>`visible_to`</td><td>System field that keeps item's visibility setting</td></tr></table>
                            add_time:
                              type: string
                              format: date-time
                              description: The creation time of the field
                            update_time:
                              type: string
                              format: date-time
                              nullable: true
                              description: The update time of the field
                            last_updated_by_user_id:
                              type: integer
                              nullable: true
                              description: The ID of the user who created or most recently updated the field, only applicable for custom fields
                            created_by_user_id:
                              type: integer
                              nullable: true
                              description: The ID of the user who created the field
                            active_flag:
                              type: boolean
                              description: The active flag of the field
                            edit_flag:
                              type: boolean
                              description: The edit flag of the field
                            index_visible_flag:
                              type: boolean
                              description: Not used
                            details_visible_flag:
                              type: boolean
                              description: Not used
                            add_visible_flag:
                              type: boolean
                              description: Not used
                            important_flag:
                              type: boolean
                              description: Not used
                            bulk_edit_allowed:
                              type: boolean
                              description: Whether or not the field of an item can be edited in bulk
                            searchable_flag:
                              type: boolean
                              description: Whether or not items can be searched by this field
                            filtering_allowed:
                              type: boolean
                              description: Whether or not items can be filtered by this field
                            sortable_flag:
                              type: boolean
                              description: Whether or not items can be sorted by this field
                            mandatory_flag:
                              type: boolean
                              description: Whether or not the field is mandatory
                            options:
                              type: array
                              nullable: true
                              items:
                                type: object
                              description: The options of the field. When there are no options, `null` is returned.
                            options_deleted:
                              type: array
                              items:
                                type: object
                              description: The deleted options of the field. Only present when there is at least 1 deleted option.
                            is_subfield:
                              type: boolean
                              description: Whether or not the field is a subfield of another field. Only present if field is subfield.
                            subfields:
                              type: array
                              items:
                                type: object
                              description: The subfields of the field. Only present when the field has subfields.
                        - type: object
                          properties:
                            field_type:
                              type: string
                              enum:
                              - boolean
                              - double
                              - int
                              - json
                              - date
                              - daterange
                              - time
                              - timerange
                              - text
                              - varchar
                              - varchar_auto
                              - varchar_options
                              - address
                              - enum
                              - monetary
                              - phone
                              - set
                              - activity
                              - deal
                              - lead
                              - org
                              - people
                              - pipeline
                              - product
                              - project
                              - stage
                              - user
                              - billing_frequency
                              - picture
                              - price_list
                              - projects_board
                              - projects_phase
                              - status
                              - visible_to
                              description: List of all possible field types
                    additional_data:
                      description: The additional data of the list
                      type: object
                      properties:
                        start:
                          type: integer
                          description: Pagination start
                        limit:
                          type: integer
                          description: Items shown per page
                        more_items_in_collection:
                          type: boolean
                          description: If there are more list items in the collection than displayed or not
              example:
                success: true
                data:
                - id: 1
                  key: title
                  name: Title
                  order_nr: 2
                  field_type: varchar
                  add_time: '2019-02-04 13:58:03'
                  update_time: '2019-02-04 13:58:03'
                  last_updated_by_user_id: 1
                  created_by_user_id: 1
                  active_flag: true
                  edit_flag: false
                  index_visible_flag: true
                  details_visible_flag: true
                  add_visible_flag: true
                  important_flag: false
                  bulk_edit_allowed: true
                  searchable_flag: false
                  filtering_allowed: true
                  sortable_flag: true
                  options: null
                  mandatory_flag: true
                - id: 2
                  key: 9dc80c50d78a15643bfc4ca79d76156a73a1ca0e
                  name: Customer Type
                  order_nr: 1
                  field_type: enum
                  add_time: '2019-02-04 13:58:03'
                  update_time: '2019-02-04 13:58:03'
                  last_updated_by_user_id: 1
                  created_by_user_id: 1
                  active_flag: true
                  edit_flag: true
                  index_visible_flag: true
                  details_visible_flag: true
                  add_visible_flag: false
                  important_flag: false
                  bulk_edit_allowed: true
                  searchable_flag: false
                  filtering_allowed: true
                  sortable_flag: true
                  options:
                  - id: 190
                    label: Private person
                  - id: 191
                    label: Company
                  - id: 192
                    label: Government
                  mandatory_flag: true
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
  /activityFields/{field_code}:
    get:
      summary: Get one activity field
      description: Returns metadata about a specific activity field.
      x-token-cost: 1
      operationId: getActivityField
      tags:
      - ActivityFields
      security:
      - api_key: []
      - oauth2:
        - admin
      parameters:
      - in: path
        name: field_code
        description: The unique code identifying the field
        required: true
        schema:
          type: string
      - in: query
        name: include_fields
        description: Optional comma separated string array of additional data namespaces to include in response
        schema:
          type: string
          enum:
          - ui_visibility
      responses:
        '200':
          description: Get one activity field
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request was successful
                  data:
                    type: object
                    required:
                    - field_name
                    - field_code
                    - field_type
                    - is_custom_field
                    - is_optional_response_field
                    properties:
                      field_name:
                        type: string
                        description: The display name/label of the field
                      field_code:
                        type: string
                        description: The unique identifier for the field (40-character hash for custom fields)
                      field_type:
                        type: string
                        description: The type of the field
                        enum:
                        - int
                        - double
                        - boolean
                        - varchar
                        - text
                        - phone
                        - varchar_options
                        - varchar_auto
                        - date
                        - daterange
                        - time
                        - timerange
                        - enum
                        - set
                        - address
                        - monetary
                        - deal
                        - deals
                        - lead
                        - org
                        - people
                        - project
                        - stage
                        - user
                        - activity
                        - json
                        - picture
                        - status
                        - visible_to
                        - price_list
                        - billing_frequency
                        - projects_board
                        - projects_phase
                      options:
                        type: array
                        nullable: true
                        description: Array of available options for enum/set fields, null for other field types
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: The option ID
                            label:
                              type: string
                              description: The option display label
                            color:
                              type: string
                              nullable: true
                              description: Optional color code for the option
                            update_time:
                              type: string
                              format: date-time
                              nullable: true
                              description: When the option was last updated
                            add_time:
                              type: string
                              format: date-time
                              nullable: true
                              description: When the option was created
                      subfields:
                        type: array
                        nullable: true
                        description: Array of subfields for complex field types (address, monetary), null for simple field types
                        items:
                          type: object
                          properties:
                            field_code:
                              type: string
                              description: The subfield identifier
                            field_name:
                              type: string
                              description: The subfield display name
                            field_type:
                              type: string
                              description: The subfield type
                      is_custom_field:
                        type: boolean
                        description: Whether this is a user-created custom field
                      is_optional_response_field:
                        type: boolean
                        description: Whether this field is not returned by default in entity responses
                      ui_visibility:
                        type: object
                        description: UI visibility settings (only included when requested via include_fields parameter)
                        properties:
                          add_visible_flag:
                            type: boolean
                            description: Whether the field is shown in the add modal
                          details_visible_flag:
                            type: boolean
                            description: Whether the field is shown in the details view (read-only)
              example:
                success: true
                data:
                  field_name: Subject
                  field_code: subject
                  description: The subject or title of the activity
                  field_type: varchar
                  options: null
                  subfields: null
                  is_custom_field: false
                  is_optional_response_field: false
                  ui_visibility:
                    add_visible_flag: true
                    details_visible_flag: true
components:
  securitySchemes:
    basic_authentication:
      type: http
      scheme: basic
      description: Base 64 encoded string containing the `client_id` and `client_secret` values. The header value should be `Basic <base64(client_id:client_secret)>`.
    api_key:
      type: apiKey
      name: x-api-token
      in: header
    oauth2:
      type: oauth2
      description: For more information, see https://pipedrive.readme.io/docs/marketplace-oauth-authorization
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.pipedrive.com/oauth/authorize
          tokenUrl: https://oauth.pipedrive.com/oauth/token
          refreshUrl: https://oauth.pipedrive.com/oauth/token
          scopes:
            base: Read settings of the authorized user and currencies in an account
            deals:read: Read most of the data about deals and related entities - deal fields, products, followers, participants; all notes, files, filters, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            deals:full: Create, read, update and delete deals, its participants and followers; all files, notes, and filters. It also includes read access to deal fields, pipelines, stages, and statistics. Does not include access to activities (except the last and next activity related to a deal)
            mail:read: Read mail threads and messages
            mail:full: Read, update and delete mail threads. Also grants read access to mail messages
            activities:read: Read activities, its fields and types; all files and filters
            activities:full: Create, read, update and delete activities and all files and filters. Also includes read access to activity fields and types
            contacts:read: Read the data about persons and organizations, their related fields and followers; also all notes, files, filters
            contacts:full: Create, read, update and delete persons and organizations and their followers; all notes, files, filters. Also grants read access to contacts-related fields
            products:read: Read products, its fields, files, followers and products connected to a deal
            products:full: Create, read, update and delete products and its fields; add products to deals
            deal-fields:full: Create, read, update and delete deal fields
            product-fields:full: Create, read, update and delete product fields
            contact-fields:full: Create, read, update and delete person and organization fields
            projects:read: Read projects and its fields, tasks and project templates
            projects:full: Create, read, update and delete projects and its fields; add projects templates and project related tasks
            users:read: Read data about users (people with access to a Pipedrive account), their permissions, roles and followers
            recents:read: Read all recent changes occurred in an account. Includes data about activities, activity types, deals, files, filters, notes, persons, organizations, pipelines, stages, products and users
            search:read: Search across the account for deals, persons, organizations, files and products, and see details about the returned results
            admin: Allows to do many things that an administrator can do in a Pipedrive company account - create, read, update and delete pipelines and its stages; deal, person and organization fields; activity types; users and permissions, etc. It also allows the app to create webhooks and fetch and delete webhooks that are created by the app
            leads:read: Read data about leads and lead labels
            leads:full: Create, read, update and delete leads and lead labels
            phone-integration: Enables advanced call integration features like logging call duration and other metadata, and play call recordings inside Pipedrive
            goals:read: Read data on all goals
            goals:full: Create, read, update and delete goals
            video-calls: Allows application to register as a video call integration provider and create conference links
            messengers-integration: Allows application to register as a messengers integration provider and allows them to deliver incoming messages and their statuses
